{
    "openapi": "3.0.1",
    "info": {
        "title": "NetFoundry Public REST API",
        "description": "NetFoundry\u2019s web console and API are used to define networks by designing and instantly deploying AppWANs which are policies that describe how endpoints are permitted to access services. \n\nMost operations require an expiring auth token as described in [the authentication guide](https://developer.netfoundry.io/v1/guides/authentication/).\n\nYou may find more helpful guides, references, and tools to use with this API in the [NetFoundry Developer Portal](https://developer.netfoundry.io/).\n",
        "version": "0.0.3-SNAPSHOT"
    },
    "servers": [
        {
            "url": "https://gateway.production.netfoundry.io/rest/v1"
        },
        {
            "url": "https://gateway.staging.netfoundry.io/rest/v1"
        },
        {
            "url": "https://gateway.sandbox.netfoundry.io/rest/v1"
        }
    ],
    "paths": {
        "/azureSubscriptions": {
            "get": {
                "tags": [
                    "azureSubscriptions"
                ],
                "summary": "list Azure subscriptions",
                "description": "Returns a list of stored Azure subscriptions in your account.",
                "operationId": "get-all-azure-subscriptions",
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/azureSubscriptions1321751198"
                                },
                                "examples": {
                                    "get-all-azure-subscriptions": {
                                        "value": "{\n  \"_embedded\" : {\n    \"azureSubscriptions\" : [ {\n      \"name\" : \"AZ Sub 01\",\n      \"subscriptionId\" : \"b8052b19-b541-4e54-bfcd-c7385e61b498\",\n      \"tenantId\" : \"33bdb675-63cd-44af-b476-8057e8a466b7\",\n      \"applicationId\" : \"9f2c8a9d-df6a-4e88-ac1e-420bb4fa400f\",\n      \"applicationKey\" : \"f273b69a-7330-498a-8d5d-9eda2faa3906\",\n      \"organizationId\" : \"cb295b97-60a3-4b54-9d5b-e172d93992e6\",\n      \"ownerIdentityId\" : null,\n      \"createdAt\" : \"2020-06-08T07:38:16.289+0000\",\n      \"updatedAt\" : \"2020-06-08T17:38:16.289+0000\",\n      \"id\" : \"022b0d15-9ba6-4d54-8820-6826f7808a86\",\n      \"_links\" : {\n        \"organization\" : {\n          \"href\" : \"http://localhost/organizations/71828516-9559-4c38-b817-9d5c7afb223f\"\n        },\n        \"self\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/022b0d15-9ba6-4d54-8820-6826f7808a86\"\n        },\n        \"resourceGroups\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/022b0d15-9ba6-4d54-8820-6826f7808a86/resourceGroups\"\n        },\n        \"virtualWans\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/022b0d15-9ba6-4d54-8820-6826f7808a86/virtualWans\"\n        }\n      }\n    }, {\n      \"name\" : \"AZ Sub 02\",\n      \"subscriptionId\" : \"e2a9c714-7e34-4406-89b5-aa782e94944b\",\n      \"tenantId\" : \"684b87f3-472f-4cc3-8f31-5f0a8f7d379b\",\n      \"applicationId\" : \"db40aff4-c358-4750-b322-0591bf30fb8a\",\n      \"applicationKey\" : \"57564ded-f739-402f-853d-f435f0aa615f\",\n      \"organizationId\" : \"ced87d87-4323-4120-a83c-ac62ad7f696c\",\n      \"ownerIdentityId\" : null,\n      \"createdAt\" : \"2020-06-08T07:38:16.289+0000\",\n      \"updatedAt\" : \"2020-06-08T17:38:16.289+0000\",\n      \"id\" : \"e2c90240-726f-470e-a10a-fe033a56e8c6\",\n      \"_links\" : {\n        \"organization\" : {\n          \"href\" : \"http://localhost/organizations/71828516-9559-4c38-b817-9d5c7afb223f\"\n        },\n        \"self\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/e2c90240-726f-470e-a10a-fe033a56e8c6\"\n        },\n        \"resourceGroups\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/e2c90240-726f-470e-a10a-fe033a56e8c6/resourceGroups\"\n        },\n        \"virtualWans\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/e2c90240-726f-470e-a10a-fe033a56e8c6/virtualWans\"\n        }\n      }\n    } ]\n  },\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/azureSubscriptions\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "azureSubscriptions"
                ],
                "summary": "store Azure subscription details",
                "description": "Store an Azure subscriptionID, tenant ID (AD), and Application ID and key for use with Azure Virtual WAN. The application must have permission to create a Virtual WAN (branch) site in your subscription.",
                "operationId": "create-azure-subscription",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/azureSubscriptions-1310085210"
                            },
                            "examples": {
                                "create-azure-subscription": {
                                    "value": "{\n  \"name\" : \"Test AZ Subscription 02\",\n  \"subscriptionId\" : \"7cf2721d-3f80-40bb-b0b2-f20ea8ae0654\",\n  \"tenantId\" : \"24c4f977-dcbf-4d48-bed9-33c55379fb8e\",\n  \"applicationId\" : \"0fce9624-23e6-4fd9-904f-7883cb0fcbad\",\n  \"applicationKey\" : \"eb374062-6ac3-4240-94e2-a88eed158a5d\"\n}"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/azureSubscriptions1018328653"
                                },
                                "examples": {
                                    "create-azure-subscription": {
                                        "value": "{\n  \"name\" : \"Test AZ Subscription 02\",\n  \"subscriptionId\" : \"5ed29ded-c957-47a1-a0dd-84a0a9d973dd\",\n  \"tenantId\" : \"a7836874-b077-4483-9c6e-bd1a3f78d91d\",\n  \"applicationId\" : \"461788ed-9a3d-43f8-80df-583508cdc80d\",\n  \"applicationKey\" : \"a2f70cf9-3cdf-46ca-8220-ce60297e80af\",\n  \"organizationId\" : \"5ca205ec-f769-47d9-bec4-1e843479aa52\",\n  \"ownerIdentityId\" : null,\n  \"createdAt\" : \"2020-06-08T07:38:16.326+0000\",\n  \"updatedAt\" : \"2020-06-08T17:38:16.326+0000\",\n  \"id\" : \"a317238e-11a4-4509-bd58-cf164fdd3f3c\",\n  \"_links\" : {\n    \"organization\" : {\n      \"href\" : \"http://localhost/organizations/4df81253-1672-44a9-8cc8-40edde5b6e58\"\n    },\n    \"self\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/a317238e-11a4-4509-bd58-cf164fdd3f3c\"\n    },\n    \"resourceGroups\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/a317238e-11a4-4509-bd58-cf164fdd3f3c/resourceGroups\"\n    },\n    \"virtualWans\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/a317238e-11a4-4509-bd58-cf164fdd3f3c/virtualWans\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/azureSubscriptions/{azureSubscriptionId}": {
            "get": {
                "tags": [
                    "azureSubscriptions"
                ],
                "summary": "fetch the attributes of a subscription",
                "description": "Returns the object describing one stored Azure subscription i.e. subscription ID, tenant ID, and application client ID (not the key).",
                "operationId": "get-azure-subscription",
                "parameters": [
                    {
                        "name": "azureSubscriptionId",
                        "in": "path",
                        "description": "the id of the subscription",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/azureSubscriptions1018328653"
                                },
                                "examples": {
                                    "get-azure-subscription": {
                                        "value": "{\n  \"name\" : \"Test AZ Subscription 01\",\n  \"subscriptionId\" : \"d4cf1b42-f205-47ff-90c8-f6d3d3c354b5\",\n  \"tenantId\" : \"c2f61d52-a4ff-4380-a419-be7a9b2db3a5\",\n  \"applicationId\" : \"29bf7f58-6b04-4450-96a5-56c466479103\",\n  \"applicationKey\" : \"b03162ac-5788-4387-81f3-68e6632de2d1\",\n  \"organizationId\" : \"1c96eb76-d1a9-4e37-a18b-75476e5e79a1\",\n  \"ownerIdentityId\" : null,\n  \"createdAt\" : \"2020-06-08T07:38:16.371+0000\",\n  \"updatedAt\" : \"2020-06-08T17:38:16.371+0000\",\n  \"id\" : \"04d5f085-b990-4dfc-8119-2965dad2b1dd\",\n  \"_links\" : {\n    \"organization\" : {\n      \"href\" : \"http://localhost/organizations/0df5fbee-f9f3-46a4-bf47-98c02ee7e517\"\n    },\n    \"self\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/04d5f085-b990-4dfc-8119-2965dad2b1dd\"\n    },\n    \"resourceGroups\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/04d5f085-b990-4dfc-8119-2965dad2b1dd/resourceGroups\"\n    },\n    \"virtualWans\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/04d5f085-b990-4dfc-8119-2965dad2b1dd/virtualWans\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "azureSubscriptions"
                ],
                "summary": "redefine an Azure subscription",
                "description": "Accepts the same parameters as the operation that stored the subscription. Send all attributes, not only those that have changed.",
                "operationId": "update-azure-subscription",
                "parameters": [
                    {
                        "name": "azureSubscriptionId",
                        "in": "path",
                        "description": "the id of the subscription",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/networks-networkId-appWans-appWanId-blueprint486549215"
                            },
                            "examples": {
                                "update-azure-subscription": {
                                    "value": "{\n  \"name\" : \"Test AZ Subscription 01\",\n  \"subscriptionId\" : \"28bf6537-e200-4406-b1e3-d3361a110a31\",\n  \"tenantId\" : \"d90386e5-dac3-46be-b363-884061dff625\",\n  \"applicationId\" : \"ecbf02c0-f03e-41c0-990d-a513132fe094\",\n  \"applicationKey\" : \"950509c6-a1d4-4930-94b1-b32a33958471\",\n  \"organizationId\" : null,\n  \"ownerIdentityId\" : null,\n  \"createdAt\" : null,\n  \"updatedAt\" : null,\n  \"id\" : null\n}"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "202",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/azureSubscriptions1018328653"
                                },
                                "examples": {
                                    "update-azure-subscription": {
                                        "value": "{\n  \"name\" : \"Test AZ Subscription 01\",\n  \"subscriptionId\" : \"3d8d253f-1b8d-4484-92d0-01b3f62bfaea\",\n  \"tenantId\" : \"f5eae812-4177-459f-ac45-68a0d7ee74b3\",\n  \"applicationId\" : \"efe9a23d-c121-49d2-ae30-540657815393\",\n  \"applicationKey\" : \"126ac74f-e14d-4972-988e-ab6000a186dd\",\n  \"organizationId\" : \"742e114b-cdcc-4031-b9e9-db90df02ae77\",\n  \"ownerIdentityId\" : null,\n  \"createdAt\" : \"2020-06-08T07:38:16.351+0000\",\n  \"updatedAt\" : \"2020-06-08T17:38:16.351+0000\",\n  \"id\" : \"07f39227-89c4-4c8b-9b5e-83ba738bace3\",\n  \"_links\" : {\n    \"organization\" : {\n      \"href\" : \"http://localhost/organizations/aca379f4-d7ee-4875-914e-d74d8fc12d0a\"\n    },\n    \"self\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/07f39227-89c4-4c8b-9b5e-83ba738bace3\"\n    },\n    \"resourceGroups\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/07f39227-89c4-4c8b-9b5e-83ba738bace3/resourceGroups\"\n    },\n    \"virtualWans\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/07f39227-89c4-4c8b-9b5e-83ba738bace3/virtualWans\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "azureSubscriptions"
                ],
                "summary": "delete stored Azure subscription details",
                "description": "delete stored Azure subscription details",
                "operationId": "delete-azure-subscription",
                "parameters": [
                    {
                        "name": "azureSubscriptionId",
                        "in": "path",
                        "description": "the id of the subscription",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "202"
                    }
                }
            }
        },
        "/azureSubscriptions/{azureSubscriptionId}/virtualWanSites": {
            "get": {
                "tags": [
                    "azureSubscriptions"
                ],
                "summary": "list Azure vWAN sites for subscription",
                "description": "Returns a list of Azure Virtual WAN sites that were created by a stored suscription credential set.",
                "operationId": "get-all-virtual-wan-sites-for-subscription",
                "parameters": [
                    {
                        "name": "azureSubscriptionId",
                        "in": "path",
                        "description": "the id of the subscription",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/azureSubscriptions-azureSubscriptionId-virtualWanSites-670838162"
                                },
                                "examples": {
                                    "get-all-virtual-wan-sites-for-subscription": {
                                        "value": "{\n  \"_embedded\" : {\n    \"azureVirtualWanSites\" : [ {\n      \"azureId\" : \"/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnSites/azsite01?api-version=2018-04-01\",\n      \"azureSubscriptionId\" : null,\n      \"azureResourceGroupName\" : \"resourceGroup01\",\n      \"azureVirtualWanId\" : \"/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWANs/wan1\",\n      \"publicIpAddress\" : \"8.8.8.8\",\n      \"bgp\" : false,\n      \"bgpPeeringAddress\" : null,\n      \"bgpASN\" : null,\n      \"bgpPeerWeight\" : null,\n      \"deviceLinkSpeed\" : 0,\n      \"deviceVendor\" : null,\n      \"deviceModel\" : null,\n      \"neighborPeers\" : null,\n      \"advertiseLocal\" : true,\n      \"advertisedPrefixes\" : null,\n      \"preSharedKey\" : null,\n      \"ipSecResponder01\" : null,\n      \"ipSecResponder02\" : null,\n      \"status\" : 0,\n      \"ownerIdentityId\" : null,\n      \"createdAt\" : null,\n      \"updatedAt\" : null,\n      \"name\" : \"azsite01\",\n      \"deployable\" : false,\n      \"azureVirtualWanName\" : \"wan1\",\n      \"id\" : null,\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/4b18bcbc-3163-4d35-bd3a-2267be37ee59/virtualWanSites/f1d7429d-acb9-4d9f-9964-9f84cfeea3b6\"\n        },\n        \"dataCenter\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/4b18bcbc-3163-4d35-bd3a-2267be37ee59/virtualWanSites/f1d7429d-acb9-4d9f-9964-9f84cfeea3b6/dataCenter\"\n        },\n        \"endpoint\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/4b18bcbc-3163-4d35-bd3a-2267be37ee59/virtualWanSites/f1d7429d-acb9-4d9f-9964-9f84cfeea3b6/endpoint\"\n        },\n        \"azureSubscription\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/4b18bcbc-3163-4d35-bd3a-2267be37ee59\"\n        }\n      }\n    }, {\n      \"azureId\" : \"/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnSites/azsite02?api-version=2018-04-01\",\n      \"azureSubscriptionId\" : null,\n      \"azureResourceGroupName\" : \"resourceGroup01\",\n      \"azureVirtualWanId\" : \"/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWANs/wan1\",\n      \"publicIpAddress\" : \"8.8.8.8\",\n      \"bgp\" : false,\n      \"bgpPeeringAddress\" : null,\n      \"bgpASN\" : null,\n      \"bgpPeerWeight\" : null,\n      \"deviceLinkSpeed\" : 0,\n      \"deviceVendor\" : null,\n      \"deviceModel\" : null,\n      \"neighborPeers\" : null,\n      \"advertiseLocal\" : true,\n      \"advertisedPrefixes\" : null,\n      \"preSharedKey\" : null,\n      \"ipSecResponder01\" : null,\n      \"ipSecResponder02\" : null,\n      \"status\" : 0,\n      \"ownerIdentityId\" : null,\n      \"createdAt\" : null,\n      \"updatedAt\" : null,\n      \"name\" : \"azsite02\",\n      \"deployable\" : false,\n      \"azureVirtualWanName\" : \"wan1\",\n      \"id\" : null,\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/4b18bcbc-3163-4d35-bd3a-2267be37ee59/virtualWanSites/3534b59b-c792-43c8-8417-f655cc7a6c8e\"\n        },\n        \"dataCenter\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/4b18bcbc-3163-4d35-bd3a-2267be37ee59/virtualWanSites/3534b59b-c792-43c8-8417-f655cc7a6c8e/dataCenter\"\n        },\n        \"endpoint\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/4b18bcbc-3163-4d35-bd3a-2267be37ee59/virtualWanSites/3534b59b-c792-43c8-8417-f655cc7a6c8e/endpoint\"\n        },\n        \"azureSubscription\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/4b18bcbc-3163-4d35-bd3a-2267be37ee59\"\n        }\n      }\n    } ]\n  },\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/4b18bcbc-3163-4d35-bd3a-2267be37ee59/virtualWanSites\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "azureSubscriptions"
                ],
                "summary": "describe a vWAN branch site",
                "description": "Define an Azure Virtual WAN branch site. A \"site\" here is a special type of NetFoundry endpoint with metadata describing the IP routes to be attached to your Azure Virtual WAN.",
                "operationId": "create-azure-virtual-wan-site",
                "parameters": [
                    {
                        "name": "azureSubscriptionId",
                        "in": "path",
                        "description": "the id of the subscription",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/azureSubscriptions-azureSubscriptionId-virtualWanSites1393634693"
                            },
                            "examples": {
                                "create-azure-virtual-wan-site": {
                                    "value": "{\n  \"name\" : \"azsite01\",\n  \"endpointId\" : \"981a5dbb-a410-4e5a-9462-ab727d5ee8f9\",\n  \"dataCenterId\" : \"5ad033d1-66f9-40e0-a08c-d374f8e12684\",\n  \"azureSubscriptionId\" : null,\n  \"azureResourceGroupName\" : \"resourceGroup01\",\n  \"azureVirtualWanId\" : \"/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWANs/wan1\",\n  \"publicIpAddress\" : \"8.8.8.8\",\n  \"bgp\" : {\n    \"localPeeringAddress\" : {\n      \"ipAddress\" : \"192.168.0.1\",\n      \"asn\" : 64515\n    },\n    \"bgpPeerWeight\" : null,\n    \"deviceLinkSpeed\" : null,\n    \"deviceVendor\" : null,\n    \"deviceModel\" : null,\n    \"neighborPeers\" : [ {\n      \"ipAddress\" : \"192.168.0.2\",\n      \"asn\" : 64513\n    }, {\n      \"ipAddress\" : \"192.168.0.3\",\n      \"asn\" : 64514\n    } ],\n    \"advertiseLocal\" : true,\n    \"advertisedPrefixes\" : [ \"10.0.0.0/24\" ]\n  }\n}"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/azureSubscriptions-azureSubscriptionId-virtualWanSites1859069655"
                                },
                                "examples": {
                                    "create-azure-virtual-wan-site": {
                                        "value": "{\n  \"azureId\" : \"/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnSites/azsite01?api-version=2018-04-01\",\n  \"azureSubscriptionId\" : null,\n  \"azureResourceGroupName\" : \"resourceGroup01\",\n  \"azureVirtualWanId\" : \"/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWANs/wan1\",\n  \"publicIpAddress\" : \"8.8.8.8\",\n  \"bgp\" : false,\n  \"bgpPeeringAddress\" : null,\n  \"bgpASN\" : null,\n  \"bgpPeerWeight\" : null,\n  \"deviceLinkSpeed\" : 0,\n  \"deviceVendor\" : null,\n  \"deviceModel\" : null,\n  \"neighborPeers\" : null,\n  \"advertiseLocal\" : true,\n  \"advertisedPrefixes\" : null,\n  \"preSharedKey\" : null,\n  \"ipSecResponder01\" : null,\n  \"ipSecResponder02\" : null,\n  \"status\" : 0,\n  \"ownerIdentityId\" : null,\n  \"createdAt\" : null,\n  \"updatedAt\" : null,\n  \"name\" : \"azsite01\",\n  \"deployable\" : false,\n  \"azureVirtualWanName\" : \"wan1\",\n  \"id\" : null,\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/4b18bcbc-3163-4d35-bd3a-2267be37ee59/virtualWanSites/cf6c2fe8-ef17-41e4-9cff-84b44b61a0d5\"\n    },\n    \"dataCenter\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/4b18bcbc-3163-4d35-bd3a-2267be37ee59/virtualWanSites/cf6c2fe8-ef17-41e4-9cff-84b44b61a0d5/dataCenter\"\n    },\n    \"endpoint\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/4b18bcbc-3163-4d35-bd3a-2267be37ee59/virtualWanSites/cf6c2fe8-ef17-41e4-9cff-84b44b61a0d5/endpoint\"\n    },\n    \"azureSubscription\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/4b18bcbc-3163-4d35-bd3a-2267be37ee59\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/azureSubscriptions/{azureSubscriptionId}/virtualWanSites/{siteId}": {
            "delete": {
                "tags": [
                    "azureSubscriptions"
                ],
                "summary": "delete Azure vWAN site",
                "description": "delete Azure vWAN site",
                "operationId": "delete-azure-virtual-wan-site",
                "parameters": [
                    {
                        "name": "azureSubscriptionId",
                        "in": "path",
                        "description": "the id of the subscription",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "the id of the Azure vWAN VPN site",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "202"
                    }
                }
            }
        },
        "/dataCenters": {
            "get": {
                "tags": [
                    "dataCenters"
                ],
                "summary": "fetch data centers by location",
                "description": "Fetch the attributes of all data centers matching parameter `locationCode`.",
                "operationId": "get-data-center-by-location-code",
                "parameters": [
                    {
                        "name": "locationCode",
                        "in": "query",
                        "description": "the locationCode by which to filter data centers",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/dataCenters2066924366"
                                },
                                "examples": {
                                    "get-data-center-by-location-code": {
                                        "value": "{\n  \"createdAt\" : \"2020-06-08T07:38:19.160+0000\",\n  \"updatedAt\" : \"2020-06-08T17:38:19.160+0000\",\n  \"name\" : \"dc01\",\n  \"address\" : \"123 That Street\",\n  \"city\" : \"Nashville\",\n  \"stateCode\" : \"TN\",\n  \"stateName\" : \"Great State\",\n  \"continentName\" : \"North America\",\n  \"continentCode\" : \"NA\",\n  \"countryName\" : \"United States\",\n  \"countryCode\" : \"US\",\n  \"isp\" : \"aws\",\n  \"lat\" : 1.0,\n  \"lng\" : 2.0,\n  \"locationCode\" : \"us-east-2a\",\n  \"locationName\" : \"us-east-2\",\n  \"provider\" : \"aws\",\n  \"id\" : null,\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/dataCenters/de041aeb-7cb3-4391-8c68-210c538da037\"\n    },\n    \"geoRegions\" : {\n      \"href\" : \"http://localhost/dataCenters/de041aeb-7cb3-4391-8c68-210c538da037/geoRegions\"\n    }\n  }\n}"
                                    },
                                    "get-data-centers": {
                                        "value": "{\n  \"_embedded\" : {\n    \"dataCenters\" : [ {\n      \"createdAt\" : \"2020-06-08T07:38:19.071+0000\",\n      \"updatedAt\" : \"2020-06-08T17:38:19.071+0000\",\n      \"name\" : \"dc01\",\n      \"address\" : \"123 That Street\",\n      \"city\" : \"Nashville\",\n      \"stateCode\" : \"TN\",\n      \"stateName\" : \"Great State\",\n      \"continentName\" : \"North America\",\n      \"continentCode\" : \"NA\",\n      \"countryName\" : \"United States\",\n      \"countryCode\" : \"US\",\n      \"isp\" : \"aws\",\n      \"lat\" : 1.0,\n      \"lng\" : 2.0,\n      \"locationCode\" : \"us-east-1b\",\n      \"locationName\" : \"us-east-1\",\n      \"provider\" : \"aws\",\n      \"id\" : null,\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/dataCenters/8b85c432-ab78-4fbb-90ee-7de065dcf497\"\n        },\n        \"geoRegions\" : {\n          \"href\" : \"http://localhost/dataCenters/8b85c432-ab78-4fbb-90ee-7de065dcf497/geoRegions\"\n        }\n      }\n    }, {\n      \"createdAt\" : \"2020-06-08T07:38:19.071+0000\",\n      \"updatedAt\" : \"2020-06-08T17:38:19.071+0000\",\n      \"name\" : \"dc01\",\n      \"address\" : \"123 That Street\",\n      \"city\" : \"Nashville\",\n      \"stateCode\" : \"TN\",\n      \"stateName\" : \"Great State\",\n      \"continentName\" : \"North America\",\n      \"continentCode\" : \"NA\",\n      \"countryName\" : \"United States\",\n      \"countryCode\" : \"US\",\n      \"isp\" : \"aws\",\n      \"lat\" : 1.0,\n      \"lng\" : 2.0,\n      \"locationCode\" : \"us-east-2c\",\n      \"locationName\" : \"us-east-2\",\n      \"provider\" : \"aws\",\n      \"id\" : null,\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/dataCenters/2b2a4edb-024b-43ec-8e46-e75dfb26a284\"\n        },\n        \"geoRegions\" : {\n          \"href\" : \"http://localhost/dataCenters/2b2a4edb-024b-43ec-8e46-e75dfb26a284/geoRegions\"\n        }\n      }\n    } ]\n  },\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/dataCenters\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/dataCenters/{dataCenterId}": {
            "get": {
                "tags": [
                    "dataCenters"
                ],
                "summary": "fetch a data center by ID",
                "description": "Fetch the attributes of a single data center by ID.",
                "operationId": "get-data-center-by-id",
                "parameters": [
                    {
                        "name": "dataCenterId",
                        "in": "path",
                        "description": "the id of the data center",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/dataCenters-dataCenterId-1060459100"
                                },
                                "examples": {
                                    "get-data-center-by-id": {
                                        "value": "{\n  \"createdAt\" : \"2020-06-08T07:38:19.139+0000\",\n  \"updatedAt\" : \"2020-06-08T17:38:19.139+0000\",\n  \"name\" : \"dc01\",\n  \"address\" : \"123 That Street\",\n  \"city\" : \"Nashville\",\n  \"stateCode\" : \"TN\",\n  \"stateName\" : \"Great State\",\n  \"continentName\" : \"North America\",\n  \"continentCode\" : \"NA\",\n  \"countryName\" : \"United States\",\n  \"countryCode\" : \"US\",\n  \"isp\" : \"aws\",\n  \"lat\" : 1.0,\n  \"lng\" : 2.0,\n  \"locationCode\" : \"us-east-1a\",\n  \"locationName\" : \"us-east-1\",\n  \"provider\" : \"aws\",\n  \"id\" : null,\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/dataCenters/74f4bd56-86dc-4107-aec5-93911cede855\"\n    },\n    \"geoRegions\" : {\n      \"href\" : \"http://localhost/dataCenters/74f4bd56-86dc-4107-aec5-93911cede855/geoRegions\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/elastic/ncentityevent/{orgId}/_search/": {
            "post": {
                "tags": [
                    "elastic"
                ],
                "operationId": "search",
                "parameters": [
                    {
                        "name": "orgId",
                        "in": "path",
                        "description": "the id of the network group",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/networks-networkId-appWans-appWanId-blueprint486549215"
                            },
                            "examples": {
                                "search": {
                                    "value": "{\n  \"query\" : {\n    \"bool\" : {\n      \"must\" : [ {\n        \"query_string\" : {\n          \"query\" : \"*\",\n          \"analyze_wildcard\" : true\n        }\n      }, {\n        \"match_phrase\" : {\n          \"tags.keyword\" : {\n            \"query\" : \"customer\"\n          }\n        }\n      }, {\n        \"range\" : {\n          \"@timestamp\" : {\n            \"gte\" : 1493587166000,\n            \"lte\" : 1525123166533,\n            \"format\" : \"epoch_millis\"\n          }\n        }\n      }, {\n        \"match_phrase\" : {\n          \"networkId\" : {\n            \"query\" : \"5d4a71e3-d676-4c37-8af8-46604f0352d1\"\n          }\n        }\n      } ],\n      \"must_not\" : [ {\n        \"match_phrase\" : {\n          \"changeType\" : {\n            \"query\" : \"soft\"\n          }\n        }\n      } ]\n    }\n  },\n  \"size\" : 500,\n  \"sort\" : [ {\n    \"@timestamp\" : {\n      \"order\" : \"desc\",\n      \"unmapped_type\" : \"boolean\"\n    }\n  } ],\n  \"_source\" : {\n    \"excludes\" : [ ]\n  }\n}"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/elastic-ncentityevent-orgId-_search-2011801923"
                                },
                                "examples": {
                                    "search": {
                                        "value": "{\n  \"took\" : 3727,\n  \"timed_out\" : false,\n  \"_shards\" : {\n    \"total\" : 1666,\n    \"successful\" : 1666,\n    \"skipped\" : 1636,\n    \"failed\" : 0\n  },\n  \"hits\" : {\n    \"total\" : 0,\n    \"max_score\" : \"null\",\n    \"hits\" : [ ]\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/geoRegions": {
            "get": {
                "tags": [
                    "geoRegions"
                ],
                "summary": "list all georegions",
                "description": "Returns a list of geographic regions. These are longitudinal regions comprising provider-specific datacenters.",
                "operationId": "get-geo-regions",
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/geoRegions-446812573"
                                },
                                "examples": {
                                    "get-geo-regions": {
                                        "value": "{\n  \"_embedded\" : {\n    \"geoRegions\" : [ {\n      \"createdAt\" : \"2020-06-08T07:37:39.736+0000\",\n      \"updatedAt\" : \"2020-06-08T17:37:39.736+0000\",\n      \"name\" : \"Geo Region 01\",\n      \"id\" : \"9bbca6aa-767c-4c48-b4ab-dac0ead018fc\",\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/geoRegions/9bbca6aa-767c-4c48-b4ab-dac0ead018fc\"\n        }\n      }\n    }, {\n      \"createdAt\" : \"2020-06-08T07:37:39.736+0000\",\n      \"updatedAt\" : \"2020-06-08T17:37:39.736+0000\",\n      \"name\" : \"Geo Region 02\",\n      \"id\" : \"9bbca6aa-767c-4c48-b4ab-dac0ead018fc\",\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/geoRegions/9bbca6aa-767c-4c48-b4ab-dac0ead018fc\"\n        }\n      }\n    } ]\n  },\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/geoRegions\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/geoRegions/{geoRegionId}": {
            "get": {
                "tags": [
                    "geoRegions"
                ],
                "summary": "fetch a georegion",
                "description": "Fetch the attributes of a geographic region by ID",
                "operationId": "get-geo-region-by-id",
                "parameters": [
                    {
                        "name": "geoRegionId",
                        "in": "path",
                        "description": "the id of the geographic region",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/geoRegions-geoRegionId-1492212157"
                                },
                                "examples": {
                                    "get-geo-region-by-id": {
                                        "value": "{\n  \"createdAt\" : \"2020-06-08T07:37:39.628+0000\",\n  \"updatedAt\" : \"2020-06-08T17:37:39.628+0000\",\n  \"name\" : \"Geo Region 01\",\n  \"id\" : \"9bbca6aa-767c-4c48-b4ab-dac0ead018fc\",\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/geoRegions/9bbca6aa-767c-4c48-b4ab-dac0ead018fc\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/hosts": {
            "get": {
                "tags": [
                    "hosts"
                ],
                "operationId": "get-hosts-for-network",
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/hosts-1480010628"
                                },
                                "examples": {
                                    "get-hosts-for-network": {
                                        "value": "{\n  \"_embedded\" : {\n    \"hosts\" : [ {\n      \"createdAt\" : null,\n      \"updatedAt\" : null,\n      \"name\" : \"Host 1\",\n      \"networkId\" : \"872e65eb-55d1-43cb-9738-0353202c7ff3\",\n      \"hostType\" : \"NC\",\n      \"primaryIpAddress\" : \"10.0.0.0\",\n      \"memGb\" : 0,\n      \"numCpu\" : 0,\n      \"model\" : null,\n      \"os\" : null,\n      \"providerId\" : \"i-1234\",\n      \"providerName\" : null,\n      \"userData\" : null,\n      \"status\" : 300,\n      \"ownerIdentityId\" : null,\n      \"id\" : \"c6134fec-b467-4f49-9139-9d42c75ecf8d\"\n    } ]\n  },\n  \"_links\" : {\n    \"network\" : {\n      \"href\" : \"http://localhost/networks/872e65eb-55d1-43cb-9738-0353202c7ff3\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/hosts/{hostId}": {
            "get": {
                "tags": [
                    "hosts"
                ],
                "operationId": "get-host",
                "parameters": [
                    {
                        "name": "hostId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/hosts-hostId-1233713338"
                                },
                                "examples": {
                                    "get-host": {
                                        "value": "{\n  \"createdAt\" : null,\n  \"updatedAt\" : null,\n  \"name\" : \"Host 1\",\n  \"networkId\" : \"5b9fc9b7-d12b-46b9-8557-8706517a55fd\",\n  \"hostType\" : \"NC\",\n  \"primaryIpAddress\" : \"10.0.0.0\",\n  \"memGb\" : 0,\n  \"numCpu\" : 0,\n  \"model\" : null,\n  \"os\" : null,\n  \"providerId\" : \"i-1234\",\n  \"providerName\" : null,\n  \"userData\" : null,\n  \"status\" : 300,\n  \"ownerIdentityId\" : null,\n  \"id\" : \"672b5203-9d42-4c57-a37f-dc225d452ba0\",\n  \"_links\" : {\n    \"network\" : {\n      \"href\" : \"http://localhost/networks/5b9fc9b7-d12b-46b9-8557-8706517a55fd\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/network-processes": {
            "get": {
                "tags": [
                    "network-processes"
                ],
                "summary": "list processes for network",
                "description": "List running processes for a network.",
                "operationId": "find-network-processes",
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/network-processes-businessKey-393734757"
                                },
                                "examples": {
                                    "find-network-processes": {
                                        "value": "[ {\n  \"businessKey\" : \"e9d7f956-8a49-4e42-b60e-38e160186b4b\",\n  \"processDefinitionKey\" : \"createNetworkFromDepotAsync\",\n  \"processInstanceId\" : 123,\n  \"workFlowStatus\" : [ {\n    \"task\" : \"Started\",\n    \"status\" : \"InProgress\",\n    \"calledProcessInstanceId\" : null\n  } ]\n} ]"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/network-processes/{businessKey}": {
            "get": {
                "tags": [
                    "network-processes"
                ],
                "summary": "fetch network processes by key",
                "description": "Fetch network process statuses for a business key.",
                "operationId": "get-network-processes",
                "parameters": [
                    {
                        "name": "businessKey",
                        "in": "path",
                        "description": "the business key to filter",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/network-processes-businessKey-393734757"
                                },
                                "examples": {
                                    "get-network-processes": {
                                        "value": "[ {\n  \"businessKey\" : \"8e46baeb-484d-46c1-816b-50373309d0a2\",\n  \"processDefinitionKey\" : \"createNetworkFromDepotAsync\",\n  \"processInstanceId\" : 123,\n  \"workFlowStatus\" : [ {\n    \"task\" : \"Started\",\n    \"status\" : \"InProgress\",\n    \"calledProcessInstanceId\" : null\n  } ]\n} ]"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/networkConfigMetadata": {
            "get": {
                "tags": [
                    "networkConfigMetadata"
                ],
                "summary": "list network configurations",
                "description": "Returns a list of network configuration templates.",
                "operationId": "find-network-config-metadata",
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/networkConfigMetadata-1344539778"
                                },
                                "examples": {
                                    "find-network-config-metadata": {
                                        "value": "{\n  \"_embedded\" : {\n    \"networkConfigMetadatas\" : [ {\n      \"createdAt\" : null,\n      \"updatedAt\" : null,\n      \"name\" : \"small\",\n      \"awsNetworkControllerSize\" : null,\n      \"awsGatewaySize\" : null,\n      \"awsTransferNodeSize\" : null,\n      \"azureTransferNodeSize\" : null,\n      \"alicloudTransferNodeSize\" : null,\n      \"gcpTransferNodeSize\" : null,\n      \"networkControllerVolumeSize\" : 0,\n      \"transferNodeVolumeSize\" : 0,\n      \"gatewayVolumeSize\" : 0,\n      \"id\" : \"4bb28e46-e6af-4f24-b6f1-77581657b347\",\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"https://gateway.production.netfoundry.io/rest/v1/networkConfigMetadata/4bb28e46-e6af-4f24-b6f1-77581657b347\"\n        }\n      }\n    } ]\n  },\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"https://gateway.production.netfoundry.io/rest/v1/networkConfigMetadata\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "networkConfigMetadata"
                ],
                "summary": "add a network configuration",
                "description": "Store a new network configuration template.",
                "operationId": "create-network-config-metadata",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/networkConfigMetadata-networkConfigMetadataId-1781842714"
                            },
                            "examples": {
                                "create-network-config-metadata": {
                                    "value": "{\n  \"name\" : \"small\",\n  \"awsNetworkControllerSize\" : \"T2Medium\",\n  \"awsGatewaySize\" : \"T2Large\",\n  \"awsTransferNodeSize\" : \"T2Large\",\n  \"azureTransferNodeSize\" : \"T2Large\",\n  \"alicloudTransferNodeSize\" : \"T2Large\",\n  \"gcpTransferNodeSize\" : \"T2Large\",\n  \"networkControllerVolumeSize\" : 20,\n  \"transferNodeVolumeSize\" : 10,\n  \"gatewayVolumeSize\" : 10\n}"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "202",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/networkConfigMetadata-networkConfigMetadataId-299031831"
                                },
                                "examples": {
                                    "create-network-config-metadata": {
                                        "value": "{\n  \"createdAt\" : null,\n  \"updatedAt\" : null,\n  \"name\" : \"small\",\n  \"awsNetworkControllerSize\" : null,\n  \"awsGatewaySize\" : null,\n  \"awsTransferNodeSize\" : null,\n  \"azureTransferNodeSize\" : null,\n  \"alicloudTransferNodeSize\" : null,\n  \"gcpTransferNodeSize\" : null,\n  \"networkControllerVolumeSize\" : 0,\n  \"transferNodeVolumeSize\" : 0,\n  \"gatewayVolumeSize\" : 0,\n  \"id\" : \"7705e557-3c46-4a50-b3e5-118bd2fccf69\",\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"https://gateway.production.netfoundry.io/rest/v1/networkConfigMetadata/7705e557-3c46-4a50-b3e5-118bd2fccf69\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/networkConfigMetadata/{networkConfigMetadataId}": {
            "get": {
                "tags": [
                    "networkConfigMetadata"
                ],
                "summary": "fetch a network configuration",
                "description": "Fetch the attributes of a network configuration template by ID.",
                "operationId": "get-network-config-metadata",
                "parameters": [
                    {
                        "name": "networkConfigMetadataId",
                        "in": "path",
                        "description": "the id of the configuration",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/networkConfigMetadata-networkConfigMetadataId-299031831"
                                },
                                "examples": {
                                    "get-network-config-metadata": {
                                        "value": "{\n  \"createdAt\" : null,\n  \"updatedAt\" : null,\n  \"name\" : \"small\",\n  \"awsNetworkControllerSize\" : null,\n  \"awsGatewaySize\" : null,\n  \"awsTransferNodeSize\" : null,\n  \"azureTransferNodeSize\" : null,\n  \"alicloudTransferNodeSize\" : null,\n  \"gcpTransferNodeSize\" : null,\n  \"networkControllerVolumeSize\" : 0,\n  \"transferNodeVolumeSize\" : 0,\n  \"gatewayVolumeSize\" : 0,\n  \"id\" : \"50fe7cc0-576f-4f99-8d5f-dd07cab9009d\",\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"https://gateway.production.netfoundry.io/rest/v1/networkConfigMetadata/50fe7cc0-576f-4f99-8d5f-dd07cab9009d\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "networkConfigMetadata"
                ],
                "summary": "redefine a network configuration",
                "description": "Redefine an existing network configuration template.",
                "operationId": "update-network-config-metadata",
                "parameters": [
                    {
                        "name": "networkConfigMetadataId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/networkConfigMetadata-networkConfigMetadataId-1781842714"
                            },
                            "examples": {
                                "update-network-config-metadata": {
                                    "value": "{\n  \"name\" : \"small\",\n  \"awsNetworkControllerSize\" : \"T2Medium\",\n  \"awsGatewaySize\" : \"T2Large\",\n  \"awsTransferNodeSize\" : \"T2Large\",\n  \"azureTransferNodeSize\" : \"T2Large\",\n  \"alicloudTransferNodeSize\" : \"T2Large\",\n  \"gcpTransferNodeSize\" : \"T2Large\",\n  \"networkControllerVolumeSize\" : 20,\n  \"transferNodeVolumeSize\" : 10,\n  \"gatewayVolumeSize\" : 10\n}"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "202",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/networkConfigMetadata-networkConfigMetadataId-299031831"
                                },
                                "examples": {
                                    "update-network-config-metadata": {
                                        "value": "{\n  \"createdAt\" : null,\n  \"updatedAt\" : null,\n  \"name\" : \"small\",\n  \"awsNetworkControllerSize\" : null,\n  \"awsGatewaySize\" : null,\n  \"awsTransferNodeSize\" : null,\n  \"azureTransferNodeSize\" : null,\n  \"alicloudTransferNodeSize\" : null,\n  \"gcpTransferNodeSize\" : null,\n  \"networkControllerVolumeSize\" : 0,\n  \"transferNodeVolumeSize\" : 0,\n  \"gatewayVolumeSize\" : 0,\n  \"id\" : \"1680dd6a-b02d-453f-a37f-6d318ca4594b\",\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"https://gateway.production.netfoundry.io/rest/v1/networkConfigMetadata/1680dd6a-b02d-453f-a37f-6d318ca4594b\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "networkConfigMetadata"
                ],
                "summary": "delete a network configuration",
                "description": "Remove a network configuration template.",
                "operationId": "delete-network-config-metadata",
                "parameters": [
                    {
                        "name": "networkConfigMetadataId",
                        "in": "path",
                        "description": "the id of the configuration",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "202"
                    }
                }
            }
        },
        "/networkgroups/{networkGroupId}/endpoints": {
            "get": {
                "tags": [
                    "networkgroups"
                ],
                "summary": "List all endpoints for network group.",
                "description": "List all endpoints for network group.",
                "operationId": "get-all-endpoints-for-network-group",
                "parameters": [
                    {
                        "name": "networkGroupId",
                        "in": "path",
                        "description": "the ID of the network group for which to get endpoints",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/networkgroups-networkGroupId-endpoints-592200708"
                                },
                                "examples": {
                                    "get-all-endpoints-for-network-group": {
                                        "value": "{\n  \"_embedded\" : {\n    \"endpoints\" : [ {\n      \"createdAt\" : \"2020-06-08T07:38:24.442+0000\",\n      \"updatedAt\" : \"2020-06-08T17:38:24.442+0000\",\n      \"name\" : \"Endpoint 01\",\n      \"networkId\" : null,\n      \"endpointType\" : \"GW\",\n      \"clientType\" : \"\",\n      \"clientVersion\" : \"\",\n      \"source\" : null,\n      \"syncId\" : null,\n      \"registrationKey\" : \"regKey value\",\n      \"registrationAttemptsLeft\" : 5,\n      \"status\" : 100,\n      \"currentState\" : 100,\n      \"stateLastUpdated\" : null,\n      \"endpointProtectionRole\" : null,\n      \"haEndpointType\" : \"HAGW\",\n      \"o365BreakoutNextHopIp\" : null,\n      \"gatewayClusterId\" : null,\n      \"clientMfaEnable\" : \"NO\",\n      \"ownerIdentityId\" : null,\n      \"countryId\" : null,\n      \"geoRegionId\" : null,\n      \"dataCenterId\" : null,\n      \"sessionIdentityId\" : null,\n      \"sessionStatus\" : 100,\n      \"id\" : \"40c90761-cfc0-4045-af63-3f76c8b57dae\",\n      \"componentId\" : \"\"\n    }, {\n      \"createdAt\" : \"2020-06-08T07:38:24.442+0000\",\n      \"updatedAt\" : \"2020-06-08T17:38:24.442+0000\",\n      \"name\" : \"Endpoint 02\",\n      \"networkId\" : null,\n      \"endpointType\" : \"GW\",\n      \"clientType\" : \"\",\n      \"clientVersion\" : \"\",\n      \"source\" : null,\n      \"syncId\" : null,\n      \"registrationKey\" : \"regKey value\",\n      \"registrationAttemptsLeft\" : 5,\n      \"status\" : 100,\n      \"currentState\" : 100,\n      \"stateLastUpdated\" : null,\n      \"endpointProtectionRole\" : null,\n      \"haEndpointType\" : \"HAGW\",\n      \"o365BreakoutNextHopIp\" : null,\n      \"gatewayClusterId\" : null,\n      \"clientMfaEnable\" : \"NO\",\n      \"ownerIdentityId\" : null,\n      \"countryId\" : null,\n      \"geoRegionId\" : null,\n      \"dataCenterId\" : null,\n      \"sessionIdentityId\" : null,\n      \"sessionStatus\" : 100,\n      \"id\" : \"cf3ea384-5ede-4202-bb57-402eb9282f63\",\n      \"componentId\" : \"\"\n    } ]\n  },\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/networkgroups/381e921b-e1c8-4939-86b3-4b1928ce11fb/endpoints\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/networkgroups/{networkGroupId}/services": {
            "get": {
                "tags": [
                    "networkgroups"
                ],
                "summary": "list services for network group",
                "description": "Returns a list of all of the services in networks that are in a network group.",
                "operationId": "get-all-services-for-network-group",
                "parameters": [
                    {
                        "name": "networkGroupId",
                        "in": "path",
                        "description": "the id of the network group",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/networkgroups-networkGroupId-services-1977395650"
                                },
                                "examples": {
                                    "get-all-services-for-network-group": {
                                        "value": "{\n  \"_embedded\" : {\n    \"services\" : [ {\n      \"serviceClass\" : \"CS\",\n      \"serviceInterceptType\" : null,\n      \"serviceType\" : null,\n      \"lowLatency\" : null,\n      \"dataInterleaving\" : null,\n      \"transparency\" : null,\n      \"localNetworkGateway\" : null,\n      \"multicast\" : null,\n      \"dnsOptions\" : null,\n      \"icmpTunnel\" : null,\n      \"cryptoLevel\" : null,\n      \"permanentConnection\" : null,\n      \"collectionLocation\" : null,\n      \"pbrType\" : null,\n      \"rateSmoothing\" : null,\n      \"networkIp\" : null,\n      \"networkNetmask\" : null,\n      \"networkFirstPort\" : 0,\n      \"networkLastPort\" : 0,\n      \"interceptIp\" : null,\n      \"interceptDnsHostname\" : null,\n      \"interceptDnsPort\" : 0,\n      \"interceptFirstPort\" : 0,\n      \"interceptLastPort\" : 0,\n      \"gatewayIp\" : null,\n      \"gatewayCidrBlock\" : 0,\n      \"netflowIndex\" : 0,\n      \"profileIndex\" : 0,\n      \"o365Conflict\" : false,\n      \"status\" : 0,\n      \"protectionGroupId\" : null,\n      \"portInterceptMode\" : null,\n      \"endpointId\" : null,\n      \"gatewayClusterId\" : null,\n      \"networkId\" : null,\n      \"ownerIdentityId\" : null,\n      \"interceptIncludePorts\" : null,\n      \"interceptExcludePorts\" : null,\n      \"createdAt\" : null,\n      \"updatedAt\" : null,\n      \"name\" : \"Service 01\",\n      \"gatewayNetmask\" : \"\",\n      \"interceptPorts\" : {\n        \"include\" : [ ],\n        \"exclude\" : [ ]\n      },\n      \"id\" : null\n    }, {\n      \"serviceClass\" : \"CS\",\n      \"serviceInterceptType\" : null,\n      \"serviceType\" : null,\n      \"lowLatency\" : null,\n      \"dataInterleaving\" : null,\n      \"transparency\" : null,\n      \"localNetworkGateway\" : null,\n      \"multicast\" : null,\n      \"dnsOptions\" : null,\n      \"icmpTunnel\" : null,\n      \"cryptoLevel\" : null,\n      \"permanentConnection\" : null,\n      \"collectionLocation\" : null,\n      \"pbrType\" : null,\n      \"rateSmoothing\" : null,\n      \"networkIp\" : null,\n      \"networkNetmask\" : null,\n      \"networkFirstPort\" : 0,\n      \"networkLastPort\" : 0,\n      \"interceptIp\" : null,\n      \"interceptDnsHostname\" : null,\n      \"interceptDnsPort\" : 0,\n      \"interceptFirstPort\" : 0,\n      \"interceptLastPort\" : 0,\n      \"gatewayIp\" : null,\n      \"gatewayCidrBlock\" : 0,\n      \"netflowIndex\" : 0,\n      \"profileIndex\" : 0,\n      \"o365Conflict\" : false,\n      \"status\" : 0,\n      \"protectionGroupId\" : null,\n      \"portInterceptMode\" : null,\n      \"endpointId\" : null,\n      \"gatewayClusterId\" : null,\n      \"networkId\" : null,\n      \"ownerIdentityId\" : null,\n      \"interceptIncludePorts\" : null,\n      \"interceptExcludePorts\" : null,\n      \"createdAt\" : null,\n      \"updatedAt\" : null,\n      \"name\" : \"Service 02\",\n      \"gatewayNetmask\" : \"\",\n      \"interceptPorts\" : {\n        \"include\" : [ ],\n        \"exclude\" : [ ]\n      },\n      \"id\" : null\n    } ]\n  },\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/networkgroups/52a67d7c-1897-4fb4-93e5-7fb9df28cdc7/services\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/networks": {
            "get": {
                "tags": [
                    "networks"
                ],
                "summary": "list all networks for network group",
                "description": "Returns a list of networks in a network group.\nPagination params:\n * page: page number\n * size: number of list elements per page\n * sort: comma-separated list of sort field (an attribute of the networks) and direction (\"ASC\" or \"DESC\")\n\nProduces a top-level map `.page` in the response like\n```\n\"page\": {\n    \"number\": 1,\n    \"size\": 1,\n    \"totalElements\": 1,\n    \"totalPages\": 1\n}\n```\n",
                "operationId": "get-all-networks-paged",
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/networks256777470"
                                },
                                "examples": {
                                    "get-all-networks-paged": {
                                        "value": "{\n  \"_embedded\" : {\n    \"networks\" : [ {\n      \"createdAt\" : \"2020-06-08T07:37:49.008+0000\",\n      \"updatedAt\" : \"2020-06-08T17:37:49.008+0000\",\n      \"name\" : \"Test Network 01\",\n      \"caName\" : \"CA_df959a45-9184-4634-b9b7-f6b6641b07b2\",\n      \"productFamily\" : \"DVN\",\n      \"productVersion\" : \"3.6.6.11042\",\n      \"provisionedAt\" : null,\n      \"o365BreakoutCategory\" : \"NONE\",\n      \"mfaClientId\" : null,\n      \"mfaIssuerId\" : null,\n      \"status\" : 100,\n      \"organizationId\" : \"2438bb3d-0983-454e-a6a6-cf165f56e0e3\",\n      \"ownerIdentityId\" : null,\n      \"networkConfigMetadataId\" : null,\n      \"id\" : \"5d96c81a-415f-4b9d-9f81-1a97f4f49117\",\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/networks/5d96c81a-415f-4b9d-9f81-1a97f4f49117\"\n        },\n        \"organization\" : {\n          \"href\" : \"http://localhost/organizations/2438bb3d-0983-454e-a6a6-cf165f56e0e3\"\n        },\n        \"networkControllerHosts\" : {\n          \"href\" : \"http://localhost/networks/5d96c81a-415f-4b9d-9f81-1a97f4f49117/networkControllerHosts\"\n        },\n        \"endpoints\" : {\n          \"href\" : \"http://localhost/networks/5d96c81a-415f-4b9d-9f81-1a97f4f49117/endpoints\"\n        },\n        \"endpointGroups\" : {\n          \"href\" : \"http://localhost/networks/5d96c81a-415f-4b9d-9f81-1a97f4f49117/endpointGroups\"\n        },\n        \"services\" : {\n          \"href\" : \"http://localhost/networks/5d96c81a-415f-4b9d-9f81-1a97f4f49117/services\"\n        },\n        \"appWans\" : {\n          \"href\" : \"http://localhost/networks/5d96c81a-415f-4b9d-9f81-1a97f4f49117/appWans\"\n        },\n        \"gatewayClusters\" : {\n          \"href\" : \"http://localhost/networks/5d96c81a-415f-4b9d-9f81-1a97f4f49117/gatewayClusters\"\n        },\n        \"virtualWanSites\" : {\n          \"href\" : \"http://localhost/networks/5d96c81a-415f-4b9d-9f81-1a97f4f49117/virtualWanSites\"\n        },\n        \"networkConfigMetadata\" : {\n          \"href\" : \"http://localhost/networks/5d96c81a-415f-4b9d-9f81-1a97f4f49117/networkConfigMetadata\"\n        }\n      }\n    }, {\n      \"createdAt\" : \"2020-06-08T07:37:49.009+0000\",\n      \"updatedAt\" : \"2020-06-08T17:37:49.009+0000\",\n      \"name\" : \"Test Network 02\",\n      \"caName\" : \"CA_481aae6e-1282-4bae-9a16-d4a714c18845\",\n      \"productFamily\" : \"DVN\",\n      \"productVersion\" : \"3.6.6.11042\",\n      \"provisionedAt\" : null,\n      \"o365BreakoutCategory\" : \"NONE\",\n      \"mfaClientId\" : null,\n      \"mfaIssuerId\" : null,\n      \"status\" : 100,\n      \"organizationId\" : \"2438bb3d-0983-454e-a6a6-cf165f56e0e3\",\n      \"ownerIdentityId\" : null,\n      \"networkConfigMetadataId\" : null,\n      \"id\" : \"11ca1b07-2070-4761-8da4-07d57deae3cd\",\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/networks/11ca1b07-2070-4761-8da4-07d57deae3cd\"\n        },\n        \"organization\" : {\n          \"href\" : \"http://localhost/organizations/2438bb3d-0983-454e-a6a6-cf165f56e0e3\"\n        },\n        \"networkControllerHosts\" : {\n          \"href\" : \"http://localhost/networks/11ca1b07-2070-4761-8da4-07d57deae3cd/networkControllerHosts\"\n        },\n        \"endpoints\" : {\n          \"href\" : \"http://localhost/networks/11ca1b07-2070-4761-8da4-07d57deae3cd/endpoints\"\n        },\n        \"endpointGroups\" : {\n          \"href\" : \"http://localhost/networks/11ca1b07-2070-4761-8da4-07d57deae3cd/endpointGroups\"\n        },\n        \"services\" : {\n          \"href\" : \"http://localhost/networks/11ca1b07-2070-4761-8da4-07d57deae3cd/services\"\n        },\n        \"appWans\" : {\n          \"href\" : \"http://localhost/networks/11ca1b07-2070-4761-8da4-07d57deae3cd/appWans\"\n        },\n        \"gatewayClusters\" : {\n          \"href\" : \"http://localhost/networks/11ca1b07-2070-4761-8da4-07d57deae3cd/gatewayClusters\"\n        },\n        \"virtualWanSites\" : {\n          \"href\" : \"http://localhost/networks/11ca1b07-2070-4761-8da4-07d57deae3cd/virtualWanSites\"\n        },\n        \"networkConfigMetadata\" : {\n          \"href\" : \"http://localhost/networks/11ca1b07-2070-4761-8da4-07d57deae3cd/networkConfigMetadata\"\n        }\n      }\n    } ]\n  },\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/networks?page=0,size=10,sort=name,asc\"\n    }\n  },\n  \"page\" : {\n    \"size\" : 10,\n    \"totalElements\" : 2,\n    \"totalPages\" : 1,\n    \"number\" : 1\n  }\n}"
                                    },
                                    "get-all-networks": {
                                        "value": "{\n  \"_embedded\" : {\n    \"networks\" : [ {\n      \"createdAt\" : \"2020-06-08T07:37:48.867+0000\",\n      \"updatedAt\" : \"2020-06-08T17:37:48.867+0000\",\n      \"name\" : \"Test Network 01\",\n      \"caName\" : \"CA_ab68b5f7-b0fd-4a4e-ba3b-5cba9cac4f15\",\n      \"productFamily\" : \"DVN\",\n      \"productVersion\" : \"3.6.6.11042\",\n      \"provisionedAt\" : null,\n      \"o365BreakoutCategory\" : \"NONE\",\n      \"mfaClientId\" : null,\n      \"mfaIssuerId\" : null,\n      \"status\" : 100,\n      \"organizationId\" : \"c1a43421-61d4-4e12-abaf-dfed06689b46\",\n      \"ownerIdentityId\" : null,\n      \"networkConfigMetadataId\" : null,\n      \"id\" : \"583e9456-9e58-4172-84c4-5254b7e81862\",\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/networks/583e9456-9e58-4172-84c4-5254b7e81862\"\n        },\n        \"organization\" : {\n          \"href\" : \"http://localhost/organizations/c1a43421-61d4-4e12-abaf-dfed06689b46\"\n        },\n        \"networkControllerHosts\" : {\n          \"href\" : \"http://localhost/networks/583e9456-9e58-4172-84c4-5254b7e81862/networkControllerHosts\"\n        },\n        \"endpoints\" : {\n          \"href\" : \"http://localhost/networks/583e9456-9e58-4172-84c4-5254b7e81862/endpoints\"\n        },\n        \"endpointGroups\" : {\n          \"href\" : \"http://localhost/networks/583e9456-9e58-4172-84c4-5254b7e81862/endpointGroups\"\n        },\n        \"services\" : {\n          \"href\" : \"http://localhost/networks/583e9456-9e58-4172-84c4-5254b7e81862/services\"\n        },\n        \"appWans\" : {\n          \"href\" : \"http://localhost/networks/583e9456-9e58-4172-84c4-5254b7e81862/appWans\"\n        },\n        \"gatewayClusters\" : {\n          \"href\" : \"http://localhost/networks/583e9456-9e58-4172-84c4-5254b7e81862/gatewayClusters\"\n        },\n        \"virtualWanSites\" : {\n          \"href\" : \"http://localhost/networks/583e9456-9e58-4172-84c4-5254b7e81862/virtualWanSites\"\n        },\n        \"networkConfigMetadata\" : {\n          \"href\" : \"http://localhost/networks/583e9456-9e58-4172-84c4-5254b7e81862/networkConfigMetadata\"\n        }\n      }\n    }, {\n      \"createdAt\" : \"2020-06-08T07:37:48.868+0000\",\n      \"updatedAt\" : \"2020-06-08T17:37:48.868+0000\",\n      \"name\" : \"Test Network 02\",\n      \"caName\" : \"CA_090f0380-b76f-4793-9886-90ff2db79f87\",\n      \"productFamily\" : \"DVN\",\n      \"productVersion\" : \"3.6.6.11042\",\n      \"provisionedAt\" : null,\n      \"o365BreakoutCategory\" : \"NONE\",\n      \"mfaClientId\" : null,\n      \"mfaIssuerId\" : null,\n      \"status\" : 100,\n      \"organizationId\" : \"c1a43421-61d4-4e12-abaf-dfed06689b46\",\n      \"ownerIdentityId\" : null,\n      \"networkConfigMetadataId\" : null,\n      \"id\" : \"0f941843-a314-4fbd-932b-0bdbe5ebd691\",\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/networks/0f941843-a314-4fbd-932b-0bdbe5ebd691\"\n        },\n        \"organization\" : {\n          \"href\" : \"http://localhost/organizations/c1a43421-61d4-4e12-abaf-dfed06689b46\"\n        },\n        \"networkControllerHosts\" : {\n          \"href\" : \"http://localhost/networks/0f941843-a314-4fbd-932b-0bdbe5ebd691/networkControllerHosts\"\n        },\n        \"endpoints\" : {\n          \"href\" : \"http://localhost/networks/0f941843-a314-4fbd-932b-0bdbe5ebd691/endpoints\"\n        },\n        \"endpointGroups\" : {\n          \"href\" : \"http://localhost/networks/0f941843-a314-4fbd-932b-0bdbe5ebd691/endpointGroups\"\n        },\n        \"services\" : {\n          \"href\" : \"http://localhost/networks/0f941843-a314-4fbd-932b-0bdbe5ebd691/services\"\n        },\n        \"appWans\" : {\n          \"href\" : \"http://localhost/networks/0f941843-a314-4fbd-932b-0bdbe5ebd691/appWans\"\n        },\n        \"gatewayClusters\" : {\n          \"href\" : \"http://localhost/networks/0f941843-a314-4fbd-932b-0bdbe5ebd691/gatewayClusters\"\n        },\n        \"virtualWanSites\" : {\n          \"href\" : \"http://localhost/networks/0f941843-a314-4fbd-932b-0bdbe5ebd691/virtualWanSites\"\n        },\n        \"networkConfigMetadata\" : {\n          \"href\" : \"http://localhost/networks/0f941843-a314-4fbd-932b-0bdbe5ebd691/networkConfigMetadata\"\n        }\n      }\n    } ]\n  },\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/networks\"\n    }\n  },\n  \"page\" : {\n    \"size\" : 10,\n    \"totalElements\" : 2,\n    \"totalPages\" : 1,\n    \"number\" : 1\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "networks"
                ],
                "summary": "create a network",
                "description": "Create a network. The only required parameter is `name`, and other params are not typically beneficial.",
                "operationId": "create-network",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/networks-897639585"
                            },
                            "examples": {
                                "create-network": {
                                    "value": "{\n  \"name\" : \"Test Network 01\",\n  \"productFamily\" : \"DVN\",\n  \"productVersion\" : \"3.6.6.11042\",\n  \"networkConfigName\" : \"medium\",\n  \"locationCode\" : null,\n  \"o365BreakoutCategory\" : \"NONE\",\n  \"subscriptionId\" : null\n}"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "202",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/networks-582637379"
                                },
                                "examples": {
                                    "create-network": {
                                        "value": "{\n  \"createdAt\" : \"2020-06-08T07:37:48.747+0000\",\n  \"updatedAt\" : \"2020-06-08T17:37:48.747+0000\",\n  \"name\" : \"Test Network 01\",\n  \"caName\" : \"CA_8df74ad8-f292-40ec-8b8e-4afe92e294cf\",\n  \"productFamily\" : \"DVN\",\n  \"productVersion\" : \"3.6.6.11042\",\n  \"provisionedAt\" : null,\n  \"o365BreakoutCategory\" : \"NONE\",\n  \"mfaClientId\" : null,\n  \"mfaIssuerId\" : null,\n  \"status\" : 100,\n  \"organizationId\" : \"7282a286-c9cb-4fa5-9b7d-f6c58a4f8020\",\n  \"ownerIdentityId\" : null,\n  \"networkConfigMetadataId\" : null,\n  \"id\" : \"0ba1408f-3dd8-4e8f-9ab8-5cb6ffe3d1a9\",\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/networks/0ba1408f-3dd8-4e8f-9ab8-5cb6ffe3d1a9\"\n    },\n    \"organization\" : {\n      \"href\" : \"http://localhost/organizations/7282a286-c9cb-4fa5-9b7d-f6c58a4f8020\"\n    },\n    \"networkControllerHosts\" : {\n      \"href\" : \"http://localhost/networks/0ba1408f-3dd8-4e8f-9ab8-5cb6ffe3d1a9/networkControllerHosts\"\n    },\n    \"endpoints\" : {\n      \"href\" : \"http://localhost/networks/0ba1408f-3dd8-4e8f-9ab8-5cb6ffe3d1a9/endpoints\"\n    },\n    \"endpointGroups\" : {\n      \"href\" : \"http://localhost/networks/0ba1408f-3dd8-4e8f-9ab8-5cb6ffe3d1a9/endpointGroups\"\n    },\n    \"services\" : {\n      \"href\" : \"http://localhost/networks/0ba1408f-3dd8-4e8f-9ab8-5cb6ffe3d1a9/services\"\n    },\n    \"appWans\" : {\n      \"href\" : \"http://localhost/networks/0ba1408f-3dd8-4e8f-9ab8-5cb6ffe3d1a9/appWans\"\n    },\n    \"gatewayClusters\" : {\n      \"href\" : \"http://localhost/networks/0ba1408f-3dd8-4e8f-9ab8-5cb6ffe3d1a9/gatewayClusters\"\n    },\n    \"virtualWanSites\" : {\n      \"href\" : \"http://localhost/networks/0ba1408f-3dd8-4e8f-9ab8-5cb6ffe3d1a9/virtualWanSites\"\n    },\n    \"networkConfigMetadata\" : {\n      \"href\" : \"http://localhost/networks/0ba1408f-3dd8-4e8f-9ab8-5cb6ffe3d1a9/networkConfigMetadata\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/networks/{networkId}": {
            "get": {
                "tags": [
                    "networks"
                ],
                "summary": "fetch a network",
                "description": "Fetch the attributes of a network by ID",
                "operationId": "get-network",
                "parameters": [
                    {
                        "name": "networkId",
                        "in": "path",
                        "description": "the id of the network",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/networks-networkId-1626269863"
                                },
                                "examples": {
                                    "get-network": {
                                        "value": "{\n  \"createdAt\" : \"2020-06-08T07:37:48.582+0000\",\n  \"updatedAt\" : \"2020-06-08T17:37:48.582+0000\",\n  \"name\" : \"Test Network 01\",\n  \"caName\" : \"CA_2d0b3612-3235-44cd-981b-2313fdc71110\",\n  \"productFamily\" : \"DVN\",\n  \"productVersion\" : \"3.6.6.11042\",\n  \"provisionedAt\" : null,\n  \"o365BreakoutCategory\" : \"NONE\",\n  \"mfaClientId\" : null,\n  \"mfaIssuerId\" : null,\n  \"status\" : 100,\n  \"organizationId\" : \"edb04cc1-efca-4848-aaa9-125247282144\",\n  \"ownerIdentityId\" : null,\n  \"networkConfigMetadataId\" : null,\n  \"id\" : \"cb73cf98-84b8-4201-9814-fd126b6faccf\",\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/networks/cb73cf98-84b8-4201-9814-fd126b6faccf\"\n    },\n    \"organization\" : {\n      \"href\" : \"http://localhost/organizations/edb04cc1-efca-4848-aaa9-125247282144\"\n    },\n    \"networkControllerHosts\" : {\n      \"href\" : \"http://localhost/networks/cb73cf98-84b8-4201-9814-fd126b6faccf/networkControllerHosts\"\n    },\n    \"endpoints\" : {\n      \"href\" : \"http://localhost/networks/cb73cf98-84b8-4201-9814-fd126b6faccf/endpoints\"\n    },\n    \"endpointGroups\" : {\n      \"href\" : \"http://localhost/networks/cb73cf98-84b8-4201-9814-fd126b6faccf/endpointGroups\"\n    },\n    \"services\" : {\n      \"href\" : \"http://localhost/networks/cb73cf98-84b8-4201-9814-fd126b6faccf/services\"\n    },\n    \"appWans\" : {\n      \"href\" : \"http://localhost/networks/cb73cf98-84b8-4201-9814-fd126b6faccf/appWans\"\n    },\n    \"gatewayClusters\" : {\n      \"href\" : \"http://localhost/networks/cb73cf98-84b8-4201-9814-fd126b6faccf/gatewayClusters\"\n    },\n    \"virtualWanSites\" : {\n      \"href\" : \"http://localhost/networks/cb73cf98-84b8-4201-9814-fd126b6faccf/virtualWanSites\"\n    },\n    \"networkConfigMetadata\" : {\n      \"href\" : \"http://localhost/networks/cb73cf98-84b8-4201-9814-fd126b6faccf/networkConfigMetadata\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "networks"
                ],
                "summary": "redefine a network",
                "description": "Redefine an existing network by resending all attributes.",
                "operationId": "update-network",
                "parameters": [
                    {
                        "name": "networkId",
                        "in": "path",
                        "description": "the id of the network",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/networks-networkId-54152969"
                            },
                            "examples": {
                                "update-network": {
                                    "value": "{\n  \"name\" : \"Test Network 01 Updated\",\n  \"o365BreakoutCategory\" : \"NONE\",\n  \"mfaClientId\" : \"1234\",\n  \"mfaIssuerId\" : \"https://okta\"\n}"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/networks-networkId-1500717383"
                                },
                                "examples": {
                                    "update-network": {
                                        "value": "{\n  \"createdAt\" : \"2020-06-08T07:37:48.822+0000\",\n  \"updatedAt\" : \"2020-06-08T17:37:48.822+0000\",\n  \"name\" : \"Test Network 01 Updated\",\n  \"caName\" : \"CA_6452671a-c9e6-43a6-85e2-3882fc1a9e61\",\n  \"productFamily\" : \"DVN\",\n  \"productVersion\" : \"3.6.6.11042\",\n  \"provisionedAt\" : null,\n  \"o365BreakoutCategory\" : \"NONE\",\n  \"mfaClientId\" : null,\n  \"mfaIssuerId\" : null,\n  \"status\" : 100,\n  \"organizationId\" : \"e81e192f-fdab-4c2a-8a79-06180a241a01\",\n  \"ownerIdentityId\" : null,\n  \"networkConfigMetadataId\" : null,\n  \"id\" : \"92fc0eae-074b-4cfa-82b2-6f43a98c563d\",\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/networks/92fc0eae-074b-4cfa-82b2-6f43a98c563d\"\n    },\n    \"organization\" : {\n      \"href\" : \"http://localhost/organizations/e81e192f-fdab-4c2a-8a79-06180a241a01\"\n    },\n    \"networkControllerHosts\" : {\n      \"href\" : \"http://localhost/networks/92fc0eae-074b-4cfa-82b2-6f43a98c563d/networkControllerHosts\"\n    },\n    \"endpoints\" : {\n      \"href\" : \"http://localhost/networks/92fc0eae-074b-4cfa-82b2-6f43a98c563d/endpoints\"\n    },\n    \"endpointGroups\" : {\n      \"href\" : \"http://localhost/networks/92fc0eae-074b-4cfa-82b2-6f43a98c563d/endpointGroups\"\n    },\n    \"services\" : {\n      \"href\" : \"http://localhost/networks/92fc0eae-074b-4cfa-82b2-6f43a98c563d/services\"\n    },\n    \"appWans\" : {\n      \"href\" : \"http://localhost/networks/92fc0eae-074b-4cfa-82b2-6f43a98c563d/appWans\"\n    },\n    \"gatewayClusters\" : {\n      \"href\" : \"http://localhost/networks/92fc0eae-074b-4cfa-82b2-6f43a98c563d/gatewayClusters\"\n    },\n    \"virtualWanSites\" : {\n      \"href\" : \"http://localhost/networks/92fc0eae-074b-4cfa-82b2-6f43a98c563d/virtualWanSites\"\n    },\n    \"networkConfigMetadata\" : {\n      \"href\" : \"http://localhost/networks/92fc0eae-074b-4cfa-82b2-6f43a98c563d/networkConfigMetadata\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "networks"
                ],
                "summary": "destroy a network",
                "description": "Permanently destroy all resources associated with a network.",
                "operationId": "delete-network",
                "parameters": [
                    {
                        "name": "networkId",
                        "in": "path",
                        "description": "the id of the network",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "202"
                    }
                }
            }
        },
        "/networks/{networkId}/appWan-processes": {
            "get": {
                "tags": [
                    "networks"
                ],
                "summary": "list keys of AppWAN processes",
                "description": "Monitor the progress of an AppWAN modification by listing business keys and then inspecting them with get-processes-for-appwan.",
                "operationId": "find-appwan-processes",
                "parameters": [
                    {
                        "name": "networkId",
                        "in": "path",
                        "description": "the id of the network",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/networks-networkId-appWan-processes766456683"
                                },
                                "examples": {
                                    "find-appwan-processes": {
                                        "value": "[ {\n  \"businessKey\" : \"1efc35e1-fb50-4e64-9e6d-768034304753\",\n  \"processDefinitionKey\" : \"createAppwan\",\n  \"workFlowStatus\" : [ {\n    \"task\" : \"Started\",\n    \"status\" : \"InProgress\"\n  } ]\n} ]"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/networks/{networkId}/appWans": {
            "get": {
                "tags": [
                    "networks"
                ],
                "summary": "list AppWANs for network",
                "description": "Returns a list of AppWANs for a network.\n\nPagination params:\n * page: page number\n * size: number of list elements per page\n * sort: comma-separated list of sort field (an attribute of the AppWANs) and direction (\"ASC\" or \"DESC\")\n\nProduces a top-level map `.page` in the response like\n```\n\"page\": {\n    \"number\": 1,\n    \"size\": 1,\n    \"totalElements\": 1,\n    \"totalPages\": 1\n}\n```\n",
                "operationId": "get-all-app-wans-for-network-paged",
                "parameters": [
                    {
                        "name": "networkId",
                        "in": "path",
                        "description": "the id of the network",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/networks-networkId-appWans175155576"
                                },
                                "examples": {
                                    "get-all-app-wans-for-network-paged": {
                                        "value": "{\n  \"_embedded\" : {\n    \"appWans\" : [ {\n      \"createdAt\" : \"2020-06-08T07:38:00.783+0000\",\n      \"updatedAt\" : \"2020-06-08T17:38:00.783+0000\",\n      \"name\" : \"AppWan 01\",\n      \"networkId\" : null,\n      \"status\" : 300,\n      \"ownerIdentityId\" : null,\n      \"id\" : \"a463fc55-b144-4135-a1c4-eb5a03e9b563\",\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/networks/d7af2130-e0e1-494b-b3d3-f5d6b4ea37d3/appWans/a463fc55-b144-4135-a1c4-eb5a03e9b563\"\n        },\n        \"network\" : {\n          \"href\" : \"http://localhost/networks/d7af2130-e0e1-494b-b3d3-f5d6b4ea37d3\"\n        },\n        \"endpointGroups\" : {\n          \"href\" : \"http://localhost/networks/d7af2130-e0e1-494b-b3d3-f5d6b4ea37d3/appWans/a463fc55-b144-4135-a1c4-eb5a03e9b563/endpointGroups\"\n        },\n        \"endpoints\" : {\n          \"href\" : \"http://localhost/networks/d7af2130-e0e1-494b-b3d3-f5d6b4ea37d3/appWans/a463fc55-b144-4135-a1c4-eb5a03e9b563/endpoints\"\n        },\n        \"services\" : {\n          \"href\" : \"http://localhost/networks/d7af2130-e0e1-494b-b3d3-f5d6b4ea37d3/appWans/a463fc55-b144-4135-a1c4-eb5a03e9b563/services\"\n        }\n      }\n    }, {\n      \"createdAt\" : \"2020-06-08T07:38:00.783+0000\",\n      \"updatedAt\" : \"2020-06-08T17:38:00.783+0000\",\n      \"name\" : \"AppWan 02\",\n      \"networkId\" : null,\n      \"status\" : 300,\n      \"ownerIdentityId\" : null,\n      \"id\" : \"48d93975-ccb0-4f46-8ce6-4763dc9c5610\",\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/networks/d7af2130-e0e1-494b-b3d3-f5d6b4ea37d3/appWans/48d93975-ccb0-4f46-8ce6-4763dc9c5610\"\n        },\n        \"network\" : {\n          \"href\" : \"http://localhost/networks/d7af2130-e0e1-494b-b3d3-f5d6b4ea37d3\"\n        },\n        \"endpointGroups\" : {\n          \"href\" : \"http://localhost/networks/d7af2130-e0e1-494b-b3d3-f5d6b4ea37d3/appWans/48d93975-ccb0-4f46-8ce6-4763dc9c5610/endpointGroups\"\n        },\n        \"endpoints\" : {\n          \"href\" : \"http://localhost/networks/d7af2130-e0e1-494b-b3d3-f5d6b4ea37d3/appWans/48d93975-ccb0-4f46-8ce6-4763dc9c5610/endpoints\"\n        },\n        \"services\" : {\n          \"href\" : \"http://localhost/networks/d7af2130-e0e1-494b-b3d3-f5d6b4ea37d3/appWans/48d93975-ccb0-4f46-8ce6-4763dc9c5610/services\"\n        }\n      }\n    } ]\n  },\n  \"_links\" : {\n    \"first\" : {\n      \"href\" : \"http://localhost/networks/d7af2130-e0e1-494b-b3d3-f5d6b4ea37d3/appWans?page=0,size=10,sort=name,asc\"\n    }\n  },\n  \"page\" : {\n    \"size\" : 10,\n    \"totalElements\" : 2,\n    \"totalPages\" : 1,\n    \"number\" : 1\n  }\n}"
                                    },
                                    "get-all-app-wans-for-network": {
                                        "value": "{\n  \"_embedded\" : {\n    \"appWans\" : [ {\n      \"createdAt\" : \"2020-06-08T07:38:01.034+0000\",\n      \"updatedAt\" : \"2020-06-08T17:38:01.034+0000\",\n      \"name\" : \"AppWan 01\",\n      \"networkId\" : null,\n      \"status\" : 300,\n      \"ownerIdentityId\" : null,\n      \"id\" : \"e1a1e98f-97f5-4570-ad85-dad5e5ca2d69\",\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/networks/0a70ab60-6da5-486c-99c0-42e3009d89e5/appWans/e1a1e98f-97f5-4570-ad85-dad5e5ca2d69\"\n        },\n        \"network\" : {\n          \"href\" : \"http://localhost/networks/0a70ab60-6da5-486c-99c0-42e3009d89e5\"\n        },\n        \"endpointGroups\" : {\n          \"href\" : \"http://localhost/networks/0a70ab60-6da5-486c-99c0-42e3009d89e5/appWans/e1a1e98f-97f5-4570-ad85-dad5e5ca2d69/endpointGroups\"\n        },\n        \"endpoints\" : {\n          \"href\" : \"http://localhost/networks/0a70ab60-6da5-486c-99c0-42e3009d89e5/appWans/e1a1e98f-97f5-4570-ad85-dad5e5ca2d69/endpoints\"\n        },\n        \"services\" : {\n          \"href\" : \"http://localhost/networks/0a70ab60-6da5-486c-99c0-42e3009d89e5/appWans/e1a1e98f-97f5-4570-ad85-dad5e5ca2d69/services\"\n        }\n      }\n    }, {\n      \"createdAt\" : \"2020-06-08T07:38:01.034+0000\",\n      \"updatedAt\" : \"2020-06-08T17:38:01.034+0000\",\n      \"name\" : \"AppWan 02\",\n      \"networkId\" : null,\n      \"status\" : 300,\n      \"ownerIdentityId\" : null,\n      \"id\" : \"c892644b-bfec-465c-a544-d05dc48966d5\",\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/networks/0a70ab60-6da5-486c-99c0-42e3009d89e5/appWans/c892644b-bfec-465c-a544-d05dc48966d5\"\n        },\n        \"network\" : {\n          \"href\" : \"http://localhost/networks/0a70ab60-6da5-486c-99c0-42e3009d89e5\"\n        },\n        \"endpointGroups\" : {\n          \"href\" : \"http://localhost/networks/0a70ab60-6da5-486c-99c0-42e3009d89e5/appWans/c892644b-bfec-465c-a544-d05dc48966d5/endpointGroups\"\n        },\n        \"endpoints\" : {\n          \"href\" : \"http://localhost/networks/0a70ab60-6da5-486c-99c0-42e3009d89e5/appWans/c892644b-bfec-465c-a544-d05dc48966d5/endpoints\"\n        },\n        \"services\" : {\n          \"href\" : \"http://localhost/networks/0a70ab60-6da5-486c-99c0-42e3009d89e5/appWans/c892644b-bfec-465c-a544-d05dc48966d5/services\"\n        }\n      }\n    } ]\n  },\n  \"_links\" : {\n    \"first\" : {\n      \"href\" : \"http://localhost/networks/0a70ab60-6da5-486c-99c0-42e3009d89e5/appWans?page=0,size=10,sort=name,asc\"\n    }\n  },\n  \"page\" : {\n    \"size\" : 10,\n    \"totalElements\" : 2,\n    \"totalPages\" : 1,\n    \"number\" : 1\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "networks"
                ],
                "summary": "Initialize an empty AppWAN",
                "description": "Initialize an empty AppWAN for authorizations that will be added later.",
                "operationId": "create-app-wan",
                "parameters": [
                    {
                        "name": "networkId",
                        "in": "path",
                        "description": "the id of the network",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/networks-networkId-appWans751732740"
                            },
                            "examples": {
                                "create-app-wan": {
                                    "value": "{\n  \"name\" : \"Test AppWan Create\",\n  \"subscriptionId\" : \"3fbe5774-53b2-4473-9893-529e1c01a468\"\n}"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "202",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/networks-networkId-appWans-2073924989"
[...]
