{
    "openapi": "3.0.1",
    "info": {
        "title": "NetFoundry Public REST API",
        "description": "NetFoundry\u2019s web console and API are used to define networks by designing and instantly deploying AppWANs which are policies that describe how endpoints are permitted to access services. \n\nMost operations require an expiring auth token as described in [the authentication guide](https://developer.netfoundry.io/v1/guides/authentication/).\n\nYou may find more helpful guides, references, and tools to use with this API in the [NetFoundry Developer Portal](https://developer.netfoundry.io/).\n",
        "version": "0.0.3-SNAPSHOT"
    },
    "servers": [
        {
            "url": "https://gateway.production.netfoundry.io/rest/v1"
        },
        {
            "url": "https://gateway.staging.netfoundry.io/rest/v1"
        },
        {
            "url": "https://gateway.sandbox.netfoundry.io/rest/v1"
        }
    ],
    "paths": {
        "/azureSubscriptions": {
            "get": {
                "tags": [
                    "azureSubscriptions"
                ],
                "summary": "list Azure subscriptions",
                "description": "Returns a list of stored Azure subscriptions in your account.",
                "operationId": "get-all-azure-subscriptions",
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/azureSubscriptions1321751198"
                                },
                                "examples": {
                                    "get-all-azure-subscriptions": {
                                        "value": "{\n  \"_embedded\" : {\n    \"azureSubscriptions\" : [ {\n      \"name\" : \"AZ Sub 01\",\n      \"subscriptionId\" : \"b5fc96f2-434f-4694-9a9c-4a61c9742e4f\",\n      \"tenantId\" : \"1423c9bd-1560-48df-a157-f428e183f9b5\",\n      \"applicationId\" : \"2a467b7f-0a86-457f-8bda-77512da31eca\",\n      \"applicationKey\" : \"dfe1dc2f-881a-4c0a-b525-25de68b09cc1\",\n      \"organizationId\" : \"8a3ef836-05b7-404b-a04d-a65a339fe72f\",\n      \"ownerIdentityId\" : null,\n      \"createdAt\" : \"2020-06-08T08:17:18.008+0000\",\n      \"updatedAt\" : \"2020-06-08T18:17:18.008+0000\",\n      \"id\" : \"cd93dff5-ec7d-4fcd-a27f-72abea7c7b06\",\n      \"_links\" : {\n        \"organization\" : {\n          \"href\" : \"http://localhost/organizations/b917204b-56b1-4e27-8f96-1e727820e93f\"\n        },\n        \"self\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/cd93dff5-ec7d-4fcd-a27f-72abea7c7b06\"\n        },\n        \"resourceGroups\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/cd93dff5-ec7d-4fcd-a27f-72abea7c7b06/resourceGroups\"\n        },\n        \"virtualWans\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/cd93dff5-ec7d-4fcd-a27f-72abea7c7b06/virtualWans\"\n        }\n      }\n    }, {\n      \"name\" : \"AZ Sub 02\",\n      \"subscriptionId\" : \"c952df38-1565-4d97-a0dc-8b9161873816\",\n      \"tenantId\" : \"54f76d14-2d94-4eb1-83c7-8f92e7061a7d\",\n      \"applicationId\" : \"acc031e0-d0a4-4b1e-9d7f-b162b2c3f73b\",\n      \"applicationKey\" : \"de9b968c-1425-4e8a-ba89-9cdd6c7238c3\",\n      \"organizationId\" : \"c27a9b13-f2f7-4b4a-8172-02b5503b2bd8\",\n      \"ownerIdentityId\" : null,\n      \"createdAt\" : \"2020-06-08T08:17:18.008+0000\",\n      \"updatedAt\" : \"2020-06-08T18:17:18.008+0000\",\n      \"id\" : \"72611a20-319e-43ae-a7d0-0dfb680d8d99\",\n      \"_links\" : {\n        \"organization\" : {\n          \"href\" : \"http://localhost/organizations/b917204b-56b1-4e27-8f96-1e727820e93f\"\n        },\n        \"self\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/72611a20-319e-43ae-a7d0-0dfb680d8d99\"\n        },\n        \"resourceGroups\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/72611a20-319e-43ae-a7d0-0dfb680d8d99/resourceGroups\"\n        },\n        \"virtualWans\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/72611a20-319e-43ae-a7d0-0dfb680d8d99/virtualWans\"\n        }\n      }\n    } ]\n  },\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/azureSubscriptions\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "azureSubscriptions"
                ],
                "summary": "store Azure subscription details",
                "description": "Store an Azure subscriptionID, tenant ID (AD), and Application ID and key for use with Azure Virtual WAN. The application must have permission to create a Virtual WAN (branch) site in your subscription.",
                "operationId": "create-azure-subscription",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/azureSubscriptions-1310085210"
                            },
                            "examples": {
                                "create-azure-subscription": {
                                    "value": "{\n  \"name\" : \"Test AZ Subscription 02\",\n  \"subscriptionId\" : \"1f0604c4-b0a6-450a-a488-20016a21bce6\",\n  \"tenantId\" : \"7f6ef333-82e0-472e-992a-df3f93583a7f\",\n  \"applicationId\" : \"689e077d-4836-40b7-8d30-5ec69c3599ae\",\n  \"applicationKey\" : \"0ac594ee-be47-4bad-8295-77d642d0169a\"\n}"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/azureSubscriptions1018328653"
                                },
                                "examples": {
                                    "create-azure-subscription": {
                                        "value": "{\n  \"name\" : \"Test AZ Subscription 02\",\n  \"subscriptionId\" : \"225724d9-a795-4b58-b93b-8ef3e84810b5\",\n  \"tenantId\" : \"39a5e377-b4f2-46dd-891f-112907537cec\",\n  \"applicationId\" : \"219aa6ea-5830-4cee-821a-fc0290cca0e2\",\n  \"applicationKey\" : \"b439d830-71e3-4e3e-ab18-fcf79bcd064f\",\n  \"organizationId\" : \"aaa37033-09fc-4ee8-89cc-0e91d84859f3\",\n  \"ownerIdentityId\" : null,\n  \"createdAt\" : \"2020-06-08T08:17:18.078+0000\",\n  \"updatedAt\" : \"2020-06-08T18:17:18.078+0000\",\n  \"id\" : \"6317ff2f-3d97-4776-a268-f9b9bac6ae64\",\n  \"_links\" : {\n    \"organization\" : {\n      \"href\" : \"http://localhost/organizations/dbd27a61-6601-47ea-96b8-5de778053fcc\"\n    },\n    \"self\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/6317ff2f-3d97-4776-a268-f9b9bac6ae64\"\n    },\n    \"resourceGroups\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/6317ff2f-3d97-4776-a268-f9b9bac6ae64/resourceGroups\"\n    },\n    \"virtualWans\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/6317ff2f-3d97-4776-a268-f9b9bac6ae64/virtualWans\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/azureSubscriptions/{azureSubscriptionId}": {
            "get": {
                "tags": [
                    "azureSubscriptions"
                ],
                "summary": "fetch the attributes of a subscription",
                "description": "Returns the object describing one stored Azure subscription i.e. subscription ID, tenant ID, and application client ID (not the key).",
                "operationId": "get-azure-subscription",
                "parameters": [
                    {
                        "name": "azureSubscriptionId",
                        "in": "path",
                        "description": "the id of the subscription",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/azureSubscriptions1018328653"
                                },
                                "examples": {
                                    "get-azure-subscription": {
                                        "value": "{\n  \"name\" : \"Test AZ Subscription 01\",\n  \"subscriptionId\" : \"cd1f88b5-da5f-437f-a30e-32a0bc91c28e\",\n  \"tenantId\" : \"7f2eda7a-cf54-452c-8f86-add458bccf31\",\n  \"applicationId\" : \"15f72e4d-7d74-4741-9e8f-19682e24991d\",\n  \"applicationKey\" : \"03de66b0-05ee-4a00-9444-82d12a35bee5\",\n  \"organizationId\" : \"c99417cd-95f7-4dcf-bf13-d2a0cd78ac59\",\n  \"ownerIdentityId\" : null,\n  \"createdAt\" : \"2020-06-08T08:17:18.127+0000\",\n  \"updatedAt\" : \"2020-06-08T18:17:18.127+0000\",\n  \"id\" : \"96f1f6e5-6d26-4c06-ab1c-9d9c33265ed0\",\n  \"_links\" : {\n    \"organization\" : {\n      \"href\" : \"http://localhost/organizations/0baf8e80-da8b-46da-b115-45b00ec2062b\"\n    },\n    \"self\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/96f1f6e5-6d26-4c06-ab1c-9d9c33265ed0\"\n    },\n    \"resourceGroups\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/96f1f6e5-6d26-4c06-ab1c-9d9c33265ed0/resourceGroups\"\n    },\n    \"virtualWans\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/96f1f6e5-6d26-4c06-ab1c-9d9c33265ed0/virtualWans\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "azureSubscriptions"
                ],
                "summary": "redefine an Azure subscription",
                "description": "Accepts the same parameters as the operation that stored the subscription. Send all attributes, not only those that have changed.",
                "operationId": "update-azure-subscription",
                "parameters": [
                    {
                        "name": "azureSubscriptionId",
                        "in": "path",
                        "description": "the id of the subscription",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/networks-networkId-appWans-appWanId-blueprint486549215"
                            },
                            "examples": {
                                "update-azure-subscription": {
                                    "value": "{\n  \"name\" : \"Test AZ Subscription 01\",\n  \"subscriptionId\" : \"a4224de5-b845-49cb-9e01-a68e0b791da3\",\n  \"tenantId\" : \"7bbaa1a3-cfcf-46e9-be9b-7826693a1820\",\n  \"applicationId\" : \"b6e595e9-73d7-4277-aca0-d9fe443dc7b7\",\n  \"applicationKey\" : \"1db1788d-9a5a-4b27-a0a5-d9057fa28767\",\n  \"organizationId\" : null,\n  \"ownerIdentityId\" : null,\n  \"createdAt\" : null,\n  \"updatedAt\" : null,\n  \"id\" : null\n}"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "202",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/azureSubscriptions1018328653"
                                },
                                "examples": {
                                    "update-azure-subscription": {
                                        "value": "{\n  \"name\" : \"Test AZ Subscription 01\",\n  \"subscriptionId\" : \"72c46fd5-764e-497e-b27a-5008120ffed3\",\n  \"tenantId\" : \"a73b48ee-3692-4937-aca7-86a336c47404\",\n  \"applicationId\" : \"53a94d66-2c8b-4128-858f-e9da6860c8a2\",\n  \"applicationKey\" : \"cf5caac8-6f0f-4fff-a5d4-ee6b76441a04\",\n  \"organizationId\" : \"30987c25-ec98-4fcd-843b-5adefe25867b\",\n  \"ownerIdentityId\" : null,\n  \"createdAt\" : \"2020-06-08T08:17:18.105+0000\",\n  \"updatedAt\" : \"2020-06-08T18:17:18.105+0000\",\n  \"id\" : \"d2034f75-55be-4ab8-b931-14c4674b1fbe\",\n  \"_links\" : {\n    \"organization\" : {\n      \"href\" : \"http://localhost/organizations/672eb7e1-d57c-4ffe-b3a0-17aed9cc12da\"\n    },\n    \"self\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/d2034f75-55be-4ab8-b931-14c4674b1fbe\"\n    },\n    \"resourceGroups\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/d2034f75-55be-4ab8-b931-14c4674b1fbe/resourceGroups\"\n    },\n    \"virtualWans\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/d2034f75-55be-4ab8-b931-14c4674b1fbe/virtualWans\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "azureSubscriptions"
                ],
                "summary": "delete stored Azure subscription details",
                "description": "delete stored Azure subscription details",
                "operationId": "delete-azure-subscription",
                "parameters": [
                    {
                        "name": "azureSubscriptionId",
                        "in": "path",
                        "description": "the id of the subscription",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "202"
                    }
                }
            }
        },
        "/azureSubscriptions/{azureSubscriptionId}/virtualWanSites": {
            "get": {
                "tags": [
                    "azureSubscriptions"
                ],
                "summary": "list Azure vWAN sites for subscription",
                "description": "Returns a list of Azure Virtual WAN sites that were created by a stored suscription credential set.",
                "operationId": "get-all-virtual-wan-sites-for-subscription",
                "parameters": [
                    {
                        "name": "azureSubscriptionId",
                        "in": "path",
                        "description": "the id of the subscription",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/azureSubscriptions-azureSubscriptionId-virtualWanSites-670838162"
                                },
                                "examples": {
                                    "get-all-virtual-wan-sites-for-subscription": {
                                        "value": "{\n  \"_embedded\" : {\n    \"azureVirtualWanSites\" : [ {\n      \"azureId\" : \"/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnSites/azsite01?api-version=2018-04-01\",\n      \"azureSubscriptionId\" : null,\n      \"azureResourceGroupName\" : \"resourceGroup01\",\n      \"azureVirtualWanId\" : \"/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWANs/wan1\",\n      \"publicIpAddress\" : \"8.8.8.8\",\n      \"bgp\" : false,\n      \"bgpPeeringAddress\" : null,\n      \"bgpASN\" : null,\n      \"bgpPeerWeight\" : null,\n      \"deviceLinkSpeed\" : 0,\n      \"deviceVendor\" : null,\n      \"deviceModel\" : null,\n      \"neighborPeers\" : null,\n      \"advertiseLocal\" : true,\n      \"advertisedPrefixes\" : null,\n      \"preSharedKey\" : null,\n      \"ipSecResponder01\" : null,\n      \"ipSecResponder02\" : null,\n      \"status\" : 0,\n      \"ownerIdentityId\" : null,\n      \"createdAt\" : null,\n      \"updatedAt\" : null,\n      \"name\" : \"azsite01\",\n      \"deployable\" : false,\n      \"azureVirtualWanName\" : \"wan1\",\n      \"id\" : null,\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/4b18bcbc-3163-4d35-bd3a-2267be37ee59/virtualWanSites/4b623bf0-9572-41ba-8b98-c555400afedf\"\n        },\n        \"dataCenter\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/4b18bcbc-3163-4d35-bd3a-2267be37ee59/virtualWanSites/4b623bf0-9572-41ba-8b98-c555400afedf/dataCenter\"\n        },\n        \"endpoint\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/4b18bcbc-3163-4d35-bd3a-2267be37ee59/virtualWanSites/4b623bf0-9572-41ba-8b98-c555400afedf/endpoint\"\n        },\n        \"azureSubscription\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/4b18bcbc-3163-4d35-bd3a-2267be37ee59\"\n        }\n      }\n    }, {\n      \"azureId\" : \"/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnSites/azsite02?api-version=2018-04-01\",\n      \"azureSubscriptionId\" : null,\n      \"azureResourceGroupName\" : \"resourceGroup01\",\n      \"azureVirtualWanId\" : \"/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWANs/wan1\",\n      \"publicIpAddress\" : \"8.8.8.8\",\n      \"bgp\" : false,\n      \"bgpPeeringAddress\" : null,\n      \"bgpASN\" : null,\n      \"bgpPeerWeight\" : null,\n      \"deviceLinkSpeed\" : 0,\n      \"deviceVendor\" : null,\n      \"deviceModel\" : null,\n      \"neighborPeers\" : null,\n      \"advertiseLocal\" : true,\n      \"advertisedPrefixes\" : null,\n      \"preSharedKey\" : null,\n      \"ipSecResponder01\" : null,\n      \"ipSecResponder02\" : null,\n      \"status\" : 0,\n      \"ownerIdentityId\" : null,\n      \"createdAt\" : null,\n      \"updatedAt\" : null,\n      \"name\" : \"azsite02\",\n      \"deployable\" : false,\n      \"azureVirtualWanName\" : \"wan1\",\n      \"id\" : null,\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/4b18bcbc-3163-4d35-bd3a-2267be37ee59/virtualWanSites/92b60c12-d786-4d92-b637-1fc36e2eaf69\"\n        },\n        \"dataCenter\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/4b18bcbc-3163-4d35-bd3a-2267be37ee59/virtualWanSites/92b60c12-d786-4d92-b637-1fc36e2eaf69/dataCenter\"\n        },\n        \"endpoint\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/4b18bcbc-3163-4d35-bd3a-2267be37ee59/virtualWanSites/92b60c12-d786-4d92-b637-1fc36e2eaf69/endpoint\"\n        },\n        \"azureSubscription\" : {\n          \"href\" : \"http://localhost/azureSubscriptions/4b18bcbc-3163-4d35-bd3a-2267be37ee59\"\n        }\n      }\n    } ]\n  },\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/4b18bcbc-3163-4d35-bd3a-2267be37ee59/virtualWanSites\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "azureSubscriptions"
                ],
                "summary": "describe a vWAN branch site",
                "description": "Define an Azure Virtual WAN branch site. A \"site\" here is a special type of NetFoundry endpoint with metadata describing the IP routes to be attached to your Azure Virtual WAN.",
                "operationId": "create-azure-virtual-wan-site",
                "parameters": [
                    {
                        "name": "azureSubscriptionId",
                        "in": "path",
                        "description": "the id of the subscription",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/azureSubscriptions-azureSubscriptionId-virtualWanSites1393634693"
                            },
                            "examples": {
                                "create-azure-virtual-wan-site": {
                                    "value": "{\n  \"name\" : \"azsite01\",\n  \"endpointId\" : \"01f34efd-6a69-4aa9-9836-810cfa2f8079\",\n  \"dataCenterId\" : \"d7ddedf5-09e7-4cb7-995f-2d8fde65786c\",\n  \"azureSubscriptionId\" : null,\n  \"azureResourceGroupName\" : \"resourceGroup01\",\n  \"azureVirtualWanId\" : \"/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWANs/wan1\",\n  \"publicIpAddress\" : \"8.8.8.8\",\n  \"bgp\" : {\n    \"localPeeringAddress\" : {\n      \"ipAddress\" : \"192.168.0.1\",\n      \"asn\" : 64515\n    },\n    \"bgpPeerWeight\" : null,\n    \"deviceLinkSpeed\" : null,\n    \"deviceVendor\" : null,\n    \"deviceModel\" : null,\n    \"neighborPeers\" : [ {\n      \"ipAddress\" : \"192.168.0.2\",\n      \"asn\" : 64513\n    }, {\n      \"ipAddress\" : \"192.168.0.3\",\n      \"asn\" : 64514\n    } ],\n    \"advertiseLocal\" : true,\n    \"advertisedPrefixes\" : [ \"10.0.0.0/24\" ]\n  }\n}"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/azureSubscriptions-azureSubscriptionId-virtualWanSites1859069655"
                                },
                                "examples": {
                                    "create-azure-virtual-wan-site": {
                                        "value": "{\n  \"azureId\" : \"/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnSites/azsite01?api-version=2018-04-01\",\n  \"azureSubscriptionId\" : null,\n  \"azureResourceGroupName\" : \"resourceGroup01\",\n  \"azureVirtualWanId\" : \"/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWANs/wan1\",\n  \"publicIpAddress\" : \"8.8.8.8\",\n  \"bgp\" : false,\n  \"bgpPeeringAddress\" : null,\n  \"bgpASN\" : null,\n  \"bgpPeerWeight\" : null,\n  \"deviceLinkSpeed\" : 0,\n  \"deviceVendor\" : null,\n  \"deviceModel\" : null,\n  \"neighborPeers\" : null,\n  \"advertiseLocal\" : true,\n  \"advertisedPrefixes\" : null,\n  \"preSharedKey\" : null,\n  \"ipSecResponder01\" : null,\n  \"ipSecResponder02\" : null,\n  \"status\" : 0,\n  \"ownerIdentityId\" : null,\n  \"createdAt\" : null,\n  \"updatedAt\" : null,\n  \"name\" : \"azsite01\",\n  \"deployable\" : false,\n  \"azureVirtualWanName\" : \"wan1\",\n  \"id\" : null,\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/4b18bcbc-3163-4d35-bd3a-2267be37ee59/virtualWanSites/7c304851-5650-4779-8369-db434ce2e440\"\n    },\n    \"dataCenter\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/4b18bcbc-3163-4d35-bd3a-2267be37ee59/virtualWanSites/7c304851-5650-4779-8369-db434ce2e440/dataCenter\"\n    },\n    \"endpoint\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/4b18bcbc-3163-4d35-bd3a-2267be37ee59/virtualWanSites/7c304851-5650-4779-8369-db434ce2e440/endpoint\"\n    },\n    \"azureSubscription\" : {\n      \"href\" : \"http://localhost/azureSubscriptions/4b18bcbc-3163-4d35-bd3a-2267be37ee59\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/azureSubscriptions/{azureSubscriptionId}/virtualWanSites/{siteId}": {
            "delete": {
                "tags": [
                    "azureSubscriptions"
                ],
                "summary": "delete Azure vWAN site",
                "description": "delete Azure vWAN site",
                "operationId": "delete-azure-virtual-wan-site",
                "parameters": [
                    {
                        "name": "azureSubscriptionId",
                        "in": "path",
                        "description": "the id of the subscription",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "the id of the Azure vWAN VPN site",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "202"
                    }
                }
            }
        },
        "/dataCenters": {
            "get": {
                "tags": [
                    "dataCenters"
                ],
                "summary": "fetch data center(s)",
                "description": "Returns a list of all data centers or the attributes of one datacenter matching query `?locationCode={locationCode}`. A data center is a compute location and is associated with one or more geographic regions in /rest/v1/geoRegions.\n",
                "operationId": "get-data-center-by-location-code",
                "parameters": [
                    {
                        "name": "locationCode",
                        "in": "query",
                        "description": "the locationCode by which to filter data centers",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/dataCenters2066924366"
                                },
                                "examples": {
                                    "get-data-center-by-location-code": {
                                        "value": "{\n  \"createdAt\" : \"2020-06-08T08:17:20.811+0000\",\n  \"updatedAt\" : \"2020-06-08T18:17:20.811+0000\",\n  \"name\" : \"dc01\",\n  \"address\" : \"123 That Street\",\n  \"city\" : \"Nashville\",\n  \"stateCode\" : \"TN\",\n  \"stateName\" : \"Great State\",\n  \"continentName\" : \"North America\",\n  \"continentCode\" : \"NA\",\n  \"countryName\" : \"United States\",\n  \"countryCode\" : \"US\",\n  \"isp\" : \"aws\",\n  \"lat\" : 1.0,\n  \"lng\" : 2.0,\n  \"locationCode\" : \"us-east-2a\",\n  \"locationName\" : \"us-east-2\",\n  \"provider\" : \"aws\",\n  \"id\" : null,\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/dataCenters/58b0cb14-b7cb-4dc8-8644-c238b32903cf\"\n    },\n    \"geoRegions\" : {\n      \"href\" : \"http://localhost/dataCenters/58b0cb14-b7cb-4dc8-8644-c238b32903cf/geoRegions\"\n    }\n  }\n}"
                                    },
                                    "get-data-centers": {
                                        "value": "{\n  \"_embedded\" : {\n    \"dataCenters\" : [ {\n      \"createdAt\" : \"2020-06-08T08:17:20.745+0000\",\n      \"updatedAt\" : \"2020-06-08T18:17:20.745+0000\",\n      \"name\" : \"dc01\",\n      \"address\" : \"123 That Street\",\n      \"city\" : \"Nashville\",\n      \"stateCode\" : \"TN\",\n      \"stateName\" : \"Great State\",\n      \"continentName\" : \"North America\",\n      \"continentCode\" : \"NA\",\n      \"countryName\" : \"United States\",\n      \"countryCode\" : \"US\",\n      \"isp\" : \"aws\",\n      \"lat\" : 1.0,\n      \"lng\" : 2.0,\n      \"locationCode\" : \"us-east-1b\",\n      \"locationName\" : \"us-east-1\",\n      \"provider\" : \"aws\",\n      \"id\" : null,\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/dataCenters/982fbacd-950e-4317-a2af-cef1c88caca3\"\n        },\n        \"geoRegions\" : {\n          \"href\" : \"http://localhost/dataCenters/982fbacd-950e-4317-a2af-cef1c88caca3/geoRegions\"\n        }\n      }\n    }, {\n      \"createdAt\" : \"2020-06-08T08:17:20.745+0000\",\n      \"updatedAt\" : \"2020-06-08T18:17:20.745+0000\",\n      \"name\" : \"dc01\",\n      \"address\" : \"123 That Street\",\n      \"city\" : \"Nashville\",\n      \"stateCode\" : \"TN\",\n      \"stateName\" : \"Great State\",\n      \"continentName\" : \"North America\",\n      \"continentCode\" : \"NA\",\n      \"countryName\" : \"United States\",\n      \"countryCode\" : \"US\",\n      \"isp\" : \"aws\",\n      \"lat\" : 1.0,\n      \"lng\" : 2.0,\n      \"locationCode\" : \"us-east-2c\",\n      \"locationName\" : \"us-east-2\",\n      \"provider\" : \"aws\",\n      \"id\" : null,\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/dataCenters/14f852b8-a7aa-4d08-bec7-709ebb76de4e\"\n        },\n        \"geoRegions\" : {\n          \"href\" : \"http://localhost/dataCenters/14f852b8-a7aa-4d08-bec7-709ebb76de4e/geoRegions\"\n        }\n      }\n    } ]\n  },\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/dataCenters\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/dataCenters/{dataCenterId}": {
            "get": {
                "tags": [
                    "dataCenters"
                ],
                "summary": "fetch a data center by ID",
                "description": "Fetch the attributes of a single data center by ID.",
                "operationId": "get-data-center-by-id",
                "parameters": [
                    {
                        "name": "dataCenterId",
                        "in": "path",
                        "description": "the id of the data center",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/dataCenters-dataCenterId-1060459100"
                                },
                                "examples": {
                                    "get-data-center-by-id": {
                                        "value": "{\n  \"createdAt\" : \"2020-06-08T08:17:20.787+0000\",\n  \"updatedAt\" : \"2020-06-08T18:17:20.787+0000\",\n  \"name\" : \"dc01\",\n  \"address\" : \"123 That Street\",\n  \"city\" : \"Nashville\",\n  \"stateCode\" : \"TN\",\n  \"stateName\" : \"Great State\",\n  \"continentName\" : \"North America\",\n  \"continentCode\" : \"NA\",\n  \"countryName\" : \"United States\",\n  \"countryCode\" : \"US\",\n  \"isp\" : \"aws\",\n  \"lat\" : 1.0,\n  \"lng\" : 2.0,\n  \"locationCode\" : \"us-east-1a\",\n  \"locationName\" : \"us-east-1\",\n  \"provider\" : \"aws\",\n  \"id\" : null,\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/dataCenters/016dbd32-6786-441c-bed1-3d43ae3c5e04\"\n    },\n    \"geoRegions\" : {\n      \"href\" : \"http://localhost/dataCenters/016dbd32-6786-441c-bed1-3d43ae3c5e04/geoRegions\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/elastic/ncentityevent/{orgId}/_search/": {
            "post": {
                "tags": [
                    "elastic"
                ],
                "summary": "query Elasticsearch about your network",
                "description": "Proxy a query to Elasticsearch. Know more about this interface by reading [this blog post](https://developer.netfoundry.io/Network-Event-Monitoring/).",
                "operationId": "search",
                "parameters": [
                    {
                        "name": "orgId",
                        "in": "path",
                        "description": "the id of the network group",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/networks-networkId-appWans-appWanId-blueprint486549215"
                            },
                            "examples": {
                                "search": {
                                    "value": "{\n  \"query\" : {\n    \"bool\" : {\n      \"must\" : [ {\n        \"query_string\" : {\n          \"query\" : \"*\",\n          \"analyze_wildcard\" : true\n        }\n      }, {\n        \"match_phrase\" : {\n          \"tags.keyword\" : {\n            \"query\" : \"customer\"\n          }\n        }\n      }, {\n        \"range\" : {\n          \"@timestamp\" : {\n            \"gte\" : 1493587166000,\n            \"lte\" : 1525123166533,\n            \"format\" : \"epoch_millis\"\n          }\n        }\n      }, {\n        \"match_phrase\" : {\n          \"networkId\" : {\n            \"query\" : \"5d4a71e3-d676-4c37-8af8-46604f0352d1\"\n          }\n        }\n      } ],\n      \"must_not\" : [ {\n        \"match_phrase\" : {\n          \"changeType\" : {\n            \"query\" : \"soft\"\n          }\n        }\n      } ]\n    }\n  },\n  \"size\" : 500,\n  \"sort\" : [ {\n    \"@timestamp\" : {\n      \"order\" : \"desc\",\n      \"unmapped_type\" : \"boolean\"\n    }\n  } ],\n  \"_source\" : {\n    \"excludes\" : [ ]\n  }\n}"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/elastic-ncentityevent-orgId-_search-2011801923"
                                },
                                "examples": {
                                    "search": {
                                        "value": "{\n  \"took\" : 3727,\n  \"timed_out\" : false,\n  \"_shards\" : {\n    \"total\" : 1666,\n    \"successful\" : 1666,\n    \"skipped\" : 1636,\n    \"failed\" : 0\n  },\n  \"hits\" : {\n    \"total\" : 0,\n    \"max_score\" : \"null\",\n    \"hits\" : [ ]\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/geoRegions": {
            "get": {
                "tags": [
                    "geoRegions"
                ],
                "summary": "list all georegions",
                "description": "Returns a list of geographic regions. These are longitudinal regions comprising provider-specific datacenters.",
                "operationId": "get-geo-regions",
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/geoRegions-446812573"
                                },
                                "examples": {
                                    "get-geo-regions": {
                                        "value": "{\n  \"_embedded\" : {\n    \"geoRegions\" : [ {\n      \"createdAt\" : \"2020-06-08T08:16:39.005+0000\",\n      \"updatedAt\" : \"2020-06-08T18:16:39.005+0000\",\n      \"name\" : \"Geo Region 01\",\n      \"id\" : \"9bbca6aa-767c-4c48-b4ab-dac0ead018fc\",\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/geoRegions/9bbca6aa-767c-4c48-b4ab-dac0ead018fc\"\n        }\n      }\n    }, {\n      \"createdAt\" : \"2020-06-08T08:16:39.005+0000\",\n      \"updatedAt\" : \"2020-06-08T18:16:39.005+0000\",\n      \"name\" : \"Geo Region 02\",\n      \"id\" : \"9bbca6aa-767c-4c48-b4ab-dac0ead018fc\",\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/geoRegions/9bbca6aa-767c-4c48-b4ab-dac0ead018fc\"\n        }\n      }\n    } ]\n  },\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/geoRegions\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/geoRegions/{geoRegionId}": {
            "get": {
                "tags": [
                    "geoRegions"
                ],
                "summary": "fetch a georegion",
                "description": "Fetch the attributes of a geographic region by ID",
                "operationId": "get-geo-region-by-id",
                "parameters": [
                    {
                        "name": "geoRegionId",
                        "in": "path",
                        "description": "the id of the geographic region",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/geoRegions-geoRegionId-1492212157"
                                },
                                "examples": {
                                    "get-geo-region-by-id": {
                                        "value": "{\n  \"createdAt\" : \"2020-06-08T08:16:38.908+0000\",\n  \"updatedAt\" : \"2020-06-08T18:16:38.908+0000\",\n  \"name\" : \"Geo Region 01\",\n  \"id\" : \"9bbca6aa-767c-4c48-b4ab-dac0ead018fc\",\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/geoRegions/9bbca6aa-767c-4c48-b4ab-dac0ead018fc\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/hosts": {
            "get": {
                "tags": [
                    "hosts"
                ],
                "summary": "list hosts for network",
                "description": "Returns a list of hosts for a network.",
                "operationId": "get-hosts-for-network",
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/hosts-1480010628"
                                },
                                "examples": {
                                    "get-hosts-for-network": {
                                        "value": "{\n  \"_embedded\" : {\n    \"hosts\" : [ {\n      \"createdAt\" : null,\n      \"updatedAt\" : null,\n      \"name\" : \"Host 1\",\n      \"networkId\" : \"7e52245e-cf12-4f6a-9c8f-5b401cb5346a\",\n      \"hostType\" : \"NC\",\n      \"primaryIpAddress\" : \"10.0.0.0\",\n      \"memGb\" : 0,\n      \"numCpu\" : 0,\n      \"model\" : null,\n      \"os\" : null,\n      \"providerId\" : \"i-1234\",\n      \"providerName\" : null,\n      \"userData\" : null,\n      \"status\" : 300,\n      \"ownerIdentityId\" : null,\n      \"id\" : \"8faa2d4a-f63f-4fd6-86fd-bd31c143463f\"\n    } ]\n  },\n  \"_links\" : {\n    \"network\" : {\n      \"href\" : \"http://localhost/networks/7e52245e-cf12-4f6a-9c8f-5b401cb5346a\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/hosts/{hostId}": {
            "get": {
                "tags": [
                    "hosts"
                ],
                "summary": "fetch a host",
                "description": "Fetch the attributes of a host by ID.",
                "operationId": "get-host",
                "parameters": [
                    {
                        "name": "hostId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/hosts-hostId-1233713338"
                                },
                                "examples": {
                                    "get-host": {
                                        "value": "{\n  \"createdAt\" : null,\n  \"updatedAt\" : null,\n  \"name\" : \"Host 1\",\n  \"networkId\" : \"c8953c08-da95-4cb3-8c60-f71eb4eeed79\",\n  \"hostType\" : \"NC\",\n  \"primaryIpAddress\" : \"10.0.0.0\",\n  \"memGb\" : 0,\n  \"numCpu\" : 0,\n  \"model\" : null,\n  \"os\" : null,\n  \"providerId\" : \"i-1234\",\n  \"providerName\" : null,\n  \"userData\" : null,\n  \"status\" : 300,\n  \"ownerIdentityId\" : null,\n  \"id\" : \"e730923f-1e6a-4108-8ee9-9cb5eaa0eac0\",\n  \"_links\" : {\n    \"network\" : {\n      \"href\" : \"http://localhost/networks/c8953c08-da95-4cb3-8c60-f71eb4eeed79\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/network-processes": {
            "get": {
                "tags": [
                    "network-processes"
                ],
                "summary": "list processes for network",
                "description": "List running processes for a network.",
                "operationId": "find-network-processes",
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/network-processes-businessKey-393734757"
                                },
                                "examples": {
                                    "find-network-processes": {
                                        "value": "[ {\n  \"businessKey\" : \"8dc43a71-05fe-47e7-a204-aaf72bee48a9\",\n  \"processDefinitionKey\" : \"createNetworkFromDepotAsync\",\n  \"processInstanceId\" : 123,\n  \"workFlowStatus\" : [ {\n    \"task\" : \"Started\",\n    \"status\" : \"InProgress\",\n    \"calledProcessInstanceId\" : null\n  } ]\n} ]"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/network-processes/{businessKey}": {
            "get": {
                "tags": [
                    "network-processes"
                ],
                "summary": "fetch network processes by key",
                "description": "Fetch network process statuses for a business key.",
                "operationId": "get-network-processes",
                "parameters": [
                    {
                        "name": "businessKey",
                        "in": "path",
                        "description": "the business key to filter",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/network-processes-businessKey-393734757"
                                },
                                "examples": {
                                    "get-network-processes": {
                                        "value": "[ {\n  \"businessKey\" : \"8a1a2804-502f-4995-a2c1-fe30a9a21945\",\n  \"processDefinitionKey\" : \"createNetworkFromDepotAsync\",\n  \"processInstanceId\" : 123,\n  \"workFlowStatus\" : [ {\n    \"task\" : \"Started\",\n    \"status\" : \"InProgress\",\n    \"calledProcessInstanceId\" : null\n  } ]\n} ]"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/networkConfigMetadata": {
            "get": {
                "tags": [
                    "networkConfigMetadata"
                ],
                "summary": "list network configurations",
                "description": "Returns a list of network configuration templates.",
                "operationId": "find-network-config-metadata",
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/networkConfigMetadata-1344539778"
                                },
                                "examples": {
                                    "find-network-config-metadata": {
                                        "value": "{\n  \"_embedded\" : {\n    \"networkConfigMetadatas\" : [ {\n      \"createdAt\" : null,\n      \"updatedAt\" : null,\n      \"name\" : \"small\",\n      \"awsNetworkControllerSize\" : null,\n      \"awsGatewaySize\" : null,\n      \"awsTransferNodeSize\" : null,\n      \"azureTransferNodeSize\" : null,\n      \"alicloudTransferNodeSize\" : null,\n      \"gcpTransferNodeSize\" : null,\n      \"networkControllerVolumeSize\" : 0,\n      \"transferNodeVolumeSize\" : 0,\n      \"gatewayVolumeSize\" : 0,\n      \"id\" : \"7b37c55e-dfe2-4a8b-a30e-84d97b97233d\",\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"https://gateway.production.netfoundry.io/rest/v1/networkConfigMetadata/7b37c55e-dfe2-4a8b-a30e-84d97b97233d\"\n        }\n      }\n    } ]\n  },\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"https://gateway.production.netfoundry.io/rest/v1/networkConfigMetadata\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "networkConfigMetadata"
                ],
                "summary": "add a network configuration",
                "description": "Store a new network configuration template.",
                "operationId": "create-network-config-metadata",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/networkConfigMetadata-1781842714"
                            },
                            "examples": {
                                "create-network-config-metadata": {
                                    "value": "{\n  \"name\" : \"small\",\n  \"awsNetworkControllerSize\" : \"T2Medium\",\n  \"awsGatewaySize\" : \"T2Large\",\n  \"awsTransferNodeSize\" : \"T2Large\",\n  \"azureTransferNodeSize\" : \"T2Large\",\n  \"alicloudTransferNodeSize\" : \"T2Large\",\n  \"gcpTransferNodeSize\" : \"T2Large\",\n  \"networkControllerVolumeSize\" : 20,\n  \"transferNodeVolumeSize\" : 10,\n  \"gatewayVolumeSize\" : 10\n}"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "202",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/networkConfigMetadata-299031831"
                                },
                                "examples": {
                                    "create-network-config-metadata": {
                                        "value": "{\n  \"createdAt\" : null,\n  \"updatedAt\" : null,\n  \"name\" : \"small\",\n  \"awsNetworkControllerSize\" : null,\n  \"awsGatewaySize\" : null,\n  \"awsTransferNodeSize\" : null,\n  \"azureTransferNodeSize\" : null,\n  \"alicloudTransferNodeSize\" : null,\n  \"gcpTransferNodeSize\" : null,\n  \"networkControllerVolumeSize\" : 0,\n  \"transferNodeVolumeSize\" : 0,\n  \"gatewayVolumeSize\" : 0,\n  \"id\" : \"0b6077b5-3876-44af-8239-1c6ba8df15ed\",\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"https://gateway.production.netfoundry.io/rest/v1/networkConfigMetadata/0b6077b5-3876-44af-8239-1c6ba8df15ed\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/networkConfigMetadata/{networkConfigMetadataId}": {
            "get": {
                "tags": [
                    "networkConfigMetadata"
                ],
                "summary": "fetch a network configuration",
                "description": "Fetch the attributes of a network configuration template by ID.",
                "operationId": "get-network-config-metadata",
                "parameters": [
                    {
                        "name": "networkConfigMetadataId",
                        "in": "path",
                        "description": "the id of the configuration",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/networkConfigMetadata-299031831"
                                },
                                "examples": {
                                    "get-network-config-metadata": {
                                        "value": "{\n  \"createdAt\" : null,\n  \"updatedAt\" : null,\n  \"name\" : \"small\",\n  \"awsNetworkControllerSize\" : null,\n  \"awsGatewaySize\" : null,\n  \"awsTransferNodeSize\" : null,\n  \"azureTransferNodeSize\" : null,\n  \"alicloudTransferNodeSize\" : null,\n  \"gcpTransferNodeSize\" : null,\n  \"networkControllerVolumeSize\" : 0,\n  \"transferNodeVolumeSize\" : 0,\n  \"gatewayVolumeSize\" : 0,\n  \"id\" : \"25b78e55-5c47-40bb-88f2-732a37667e1d\",\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"https://gateway.production.netfoundry.io/rest/v1/networkConfigMetadata/25b78e55-5c47-40bb-88f2-732a37667e1d\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "networkConfigMetadata"
                ],
                "summary": "redefine a network configuration",
                "description": "Redefine an existing network configuration template.",
                "operationId": "update-network-config-metadata",
                "parameters": [
                    {
                        "name": "networkConfigMetadataId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/networkConfigMetadata-1781842714"
                            },
                            "examples": {
                                "update-network-config-metadata": {
                                    "value": "{\n  \"name\" : \"small\",\n  \"awsNetworkControllerSize\" : \"T2Medium\",\n  \"awsGatewaySize\" : \"T2Large\",\n  \"awsTransferNodeSize\" : \"T2Large\",\n  \"azureTransferNodeSize\" : \"T2Large\",\n  \"alicloudTransferNodeSize\" : \"T2Large\",\n  \"gcpTransferNodeSize\" : \"T2Large\",\n  \"networkControllerVolumeSize\" : 20,\n  \"transferNodeVolumeSize\" : 10,\n  \"gatewayVolumeSize\" : 10\n}"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "202",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/networkConfigMetadata-299031831"
                                },
                                "examples": {
                                    "update-network-config-metadata": {
                                        "value": "{\n  \"createdAt\" : null,\n  \"updatedAt\" : null,\n  \"name\" : \"small\",\n  \"awsNetworkControllerSize\" : null,\n  \"awsGatewaySize\" : null,\n  \"awsTransferNodeSize\" : null,\n  \"azureTransferNodeSize\" : null,\n  \"alicloudTransferNodeSize\" : null,\n  \"gcpTransferNodeSize\" : null,\n  \"networkControllerVolumeSize\" : 0,\n  \"transferNodeVolumeSize\" : 0,\n  \"gatewayVolumeSize\" : 0,\n  \"id\" : \"97a3c7c5-9178-4fc2-984a-f1914842ff1d\",\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"https://gateway.production.netfoundry.io/rest/v1/networkConfigMetadata/97a3c7c5-9178-4fc2-984a-f1914842ff1d\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "networkConfigMetadata"
                ],
                "summary": "delete a network configuration",
                "description": "Remove a network configuration template.",
                "operationId": "delete-network-config-metadata",
                "parameters": [
                    {
                        "name": "networkConfigMetadataId",
                        "in": "path",
                        "description": "the id of the configuration",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "202"
                    }
                }
            }
        },
        "/networkgroups/{networkGroupId}/endpoints": {
            "get": {
                "tags": [
                    "networkgroups"
                ],
                "summary": "List all endpoints for network group.",
                "description": "List all endpoints for network group.",
                "operationId": "get-all-endpoints-for-network-group",
                "parameters": [
                    {
                        "name": "networkGroupId",
                        "in": "path",
                        "description": "the ID of the network group for which to get endpoints",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/networkgroups-networkGroupId-endpoints-592200708"
                                },
                                "examples": {
                                    "get-all-endpoints-for-network-group": {
                                        "value": "{\n  \"_embedded\" : {\n    \"endpoints\" : [ {\n      \"createdAt\" : \"2020-06-08T08:17:26.390+0000\",\n      \"updatedAt\" : \"2020-06-08T18:17:26.390+0000\",\n      \"name\" : \"Endpoint 01\",\n      \"networkId\" : null,\n      \"endpointType\" : \"GW\",\n      \"clientType\" : \"\",\n      \"clientVersion\" : \"\",\n      \"source\" : null,\n      \"syncId\" : null,\n      \"registrationKey\" : \"regKey value\",\n      \"registrationAttemptsLeft\" : 5,\n      \"status\" : 100,\n      \"currentState\" : 100,\n      \"stateLastUpdated\" : null,\n      \"endpointProtectionRole\" : null,\n      \"haEndpointType\" : \"HAGW\",\n      \"o365BreakoutNextHopIp\" : null,\n      \"gatewayClusterId\" : null,\n      \"clientMfaEnable\" : \"NO\",\n      \"ownerIdentityId\" : null,\n      \"countryId\" : null,\n      \"geoRegionId\" : null,\n      \"dataCenterId\" : null,\n      \"sessionIdentityId\" : null,\n      \"sessionStatus\" : 100,\n      \"id\" : \"7cb9cbcd-c722-4591-bac1-586cdd27d464\",\n      \"componentId\" : \"\"\n    }, {\n      \"createdAt\" : \"2020-06-08T08:17:26.391+0000\",\n      \"updatedAt\" : \"2020-06-08T18:17:26.391+0000\",\n      \"name\" : \"Endpoint 02\",\n      \"networkId\" : null,\n      \"endpointType\" : \"GW\",\n      \"clientType\" : \"\",\n      \"clientVersion\" : \"\",\n      \"source\" : null,\n      \"syncId\" : null,\n      \"registrationKey\" : \"regKey value\",\n      \"registrationAttemptsLeft\" : 5,\n      \"status\" : 100,\n      \"currentState\" : 100,\n      \"stateLastUpdated\" : null,\n      \"endpointProtectionRole\" : null,\n      \"haEndpointType\" : \"HAGW\",\n      \"o365BreakoutNextHopIp\" : null,\n      \"gatewayClusterId\" : null,\n      \"clientMfaEnable\" : \"NO\",\n      \"ownerIdentityId\" : null,\n      \"countryId\" : null,\n      \"geoRegionId\" : null,\n      \"dataCenterId\" : null,\n      \"sessionIdentityId\" : null,\n      \"sessionStatus\" : 100,\n      \"id\" : \"50f9ea60-5e6e-423c-87a3-7e2eb046c01e\",\n      \"componentId\" : \"\"\n    } ]\n  },\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/networkgroups/6f1c71fb-456b-49c4-99f2-8a42f5871cff/endpoints\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/networkgroups/{networkGroupId}/services": {
            "get": {
                "tags": [
                    "networkgroups"
                ],
                "summary": "list services for network group",
                "description": "Returns a list of all of the services in networks that are in a network group.",
                "operationId": "get-all-services-for-network-group",
                "parameters": [
                    {
                        "name": "networkGroupId",
                        "in": "path",
                        "description": "the id of the network group",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/networkgroups-networkGroupId-services-1977395650"
                                },
                                "examples": {
                                    "get-all-services-for-network-group": {
                                        "value": "{\n  \"_embedded\" : {\n    \"services\" : [ {\n      \"serviceClass\" : \"CS\",\n      \"serviceInterceptType\" : null,\n      \"serviceType\" : null,\n      \"lowLatency\" : null,\n      \"dataInterleaving\" : null,\n      \"transparency\" : null,\n      \"localNetworkGateway\" : null,\n      \"multicast\" : null,\n      \"dnsOptions\" : null,\n      \"icmpTunnel\" : null,\n      \"cryptoLevel\" : null,\n      \"permanentConnection\" : null,\n      \"collectionLocation\" : null,\n      \"pbrType\" : null,\n      \"rateSmoothing\" : null,\n      \"networkIp\" : null,\n      \"networkNetmask\" : null,\n      \"networkFirstPort\" : 0,\n      \"networkLastPort\" : 0,\n      \"interceptIp\" : null,\n      \"interceptDnsHostname\" : null,\n      \"interceptDnsPort\" : 0,\n      \"interceptFirstPort\" : 0,\n      \"interceptLastPort\" : 0,\n      \"gatewayIp\" : null,\n      \"gatewayCidrBlock\" : 0,\n      \"netflowIndex\" : 0,\n      \"profileIndex\" : 0,\n      \"o365Conflict\" : false,\n      \"status\" : 0,\n      \"protectionGroupId\" : null,\n      \"portInterceptMode\" : null,\n      \"endpointId\" : null,\n      \"gatewayClusterId\" : null,\n      \"networkId\" : null,\n      \"ownerIdentityId\" : null,\n      \"interceptIncludePorts\" : null,\n      \"interceptExcludePorts\" : null,\n      \"createdAt\" : null,\n      \"updatedAt\" : null,\n      \"name\" : \"Service 01\",\n      \"interceptPorts\" : {\n        \"include\" : [ ],\n        \"exclude\" : [ ]\n      },\n      \"gatewayNetmask\" : \"\",\n      \"id\" : null\n    }, {\n      \"serviceClass\" : \"CS\",\n      \"serviceInterceptType\" : null,\n      \"serviceType\" : null,\n      \"lowLatency\" : null,\n      \"dataInterleaving\" : null,\n      \"transparency\" : null,\n      \"localNetworkGateway\" : null,\n      \"multicast\" : null,\n      \"dnsOptions\" : null,\n      \"icmpTunnel\" : null,\n      \"cryptoLevel\" : null,\n      \"permanentConnection\" : null,\n      \"collectionLocation\" : null,\n      \"pbrType\" : null,\n      \"rateSmoothing\" : null,\n      \"networkIp\" : null,\n      \"networkNetmask\" : null,\n      \"networkFirstPort\" : 0,\n      \"networkLastPort\" : 0,\n      \"interceptIp\" : null,\n      \"interceptDnsHostname\" : null,\n      \"interceptDnsPort\" : 0,\n      \"interceptFirstPort\" : 0,\n      \"interceptLastPort\" : 0,\n      \"gatewayIp\" : null,\n      \"gatewayCidrBlock\" : 0,\n      \"netflowIndex\" : 0,\n      \"profileIndex\" : 0,\n      \"o365Conflict\" : false,\n      \"status\" : 0,\n      \"protectionGroupId\" : null,\n      \"portInterceptMode\" : null,\n      \"endpointId\" : null,\n      \"gatewayClusterId\" : null,\n      \"networkId\" : null,\n      \"ownerIdentityId\" : null,\n      \"interceptIncludePorts\" : null,\n      \"interceptExcludePorts\" : null,\n      \"createdAt\" : null,\n      \"updatedAt\" : null,\n      \"name\" : \"Service 02\",\n      \"interceptPorts\" : {\n        \"include\" : [ ],\n        \"exclude\" : [ ]\n      },\n      \"gatewayNetmask\" : \"\",\n      \"id\" : null\n    } ]\n  },\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/networkgroups/1d192210-f0fb-4581-bbdd-43d2ef88edeb/services\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/networks": {
            "get": {
                "tags": [
                    "networks"
                ],
                "summary": "list all networks for network group",
                "description": "Returns a list of networks in a network group.\nPagination params:\n * page: page number\n * size: number of list elements per page\n * sort: comma-separated list of sort field (an attribute of the networks) and direction (\"ASC\" or \"DESC\")\n\nProduces a top-level map `.page` in the response like\n```\n\"page\": {\n    \"number\": 1,\n    \"size\": 1,\n    \"totalElements\": 1,\n    \"totalPages\": 1\n}\n```\n",
                "operationId": "get-all-networks-paged",
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/networks256777470"
                                },
                                "examples": {
                                    "get-all-networks-paged": {
                                        "value": "{\n  \"_embedded\" : {\n    \"networks\" : [ {\n      \"createdAt\" : \"2020-06-08T08:16:48.778+0000\",\n      \"updatedAt\" : \"2020-06-08T18:16:48.778+0000\",\n      \"name\" : \"Test Network 01\",\n      \"caName\" : \"CA_5946bd42-6386-46aa-aa9d-460da5262c92\",\n      \"productFamily\" : \"DVN\",\n      \"productVersion\" : \"3.6.6.11042\",\n      \"provisionedAt\" : null,\n      \"o365BreakoutCategory\" : \"NONE\",\n      \"mfaClientId\" : null,\n      \"mfaIssuerId\" : null,\n      \"status\" : 100,\n      \"organizationId\" : \"31b80925-3a0d-40b2-81c2-e26b78335bdf\",\n      \"ownerIdentityId\" : null,\n      \"networkConfigMetadataId\" : null,\n      \"id\" : \"7e5bfa9b-e562-4600-86be-324a2a6ea63f\",\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/networks/7e5bfa9b-e562-4600-86be-324a2a6ea63f\"\n        },\n        \"organization\" : {\n          \"href\" : \"http://localhost/organizations/31b80925-3a0d-40b2-81c2-e26b78335bdf\"\n        },\n        \"networkControllerHosts\" : {\n          \"href\" : \"http://localhost/networks/7e5bfa9b-e562-4600-86be-324a2a6ea63f/networkControllerHosts\"\n        },\n        \"endpoints\" : {\n          \"href\" : \"http://localhost/networks/7e5bfa9b-e562-4600-86be-324a2a6ea63f/endpoints\"\n        },\n        \"endpointGroups\" : {\n          \"href\" : \"http://localhost/networks/7e5bfa9b-e562-4600-86be-324a2a6ea63f/endpointGroups\"\n        },\n        \"services\" : {\n          \"href\" : \"http://localhost/networks/7e5bfa9b-e562-4600-86be-324a2a6ea63f/services\"\n        },\n        \"appWans\" : {\n          \"href\" : \"http://localhost/networks/7e5bfa9b-e562-4600-86be-324a2a6ea63f/appWans\"\n        },\n        \"gatewayClusters\" : {\n          \"href\" : \"http://localhost/networks/7e5bfa9b-e562-4600-86be-324a2a6ea63f/gatewayClusters\"\n        },\n        \"virtualWanSites\" : {\n          \"href\" : \"http://localhost/networks/7e5bfa9b-e562-4600-86be-324a2a6ea63f/virtualWanSites\"\n        },\n        \"networkConfigMetadata\" : {\n          \"href\" : \"http://localhost/networks/7e5bfa9b-e562-4600-86be-324a2a6ea63f/networkConfigMetadata\"\n        }\n      }\n    }, {\n      \"createdAt\" : \"2020-06-08T08:16:48.779+0000\",\n      \"updatedAt\" : \"2020-06-08T18:16:48.779+0000\",\n      \"name\" : \"Test Network 02\",\n      \"caName\" : \"CA_0a20a568-05ab-4ddc-908f-9a2eeb99c1a6\",\n      \"productFamily\" : \"DVN\",\n      \"productVersion\" : \"3.6.6.11042\",\n      \"provisionedAt\" : null,\n      \"o365BreakoutCategory\" : \"NONE\",\n      \"mfaClientId\" : null,\n      \"mfaIssuerId\" : null,\n      \"status\" : 100,\n      \"organizationId\" : \"31b80925-3a0d-40b2-81c2-e26b78335bdf\",\n      \"ownerIdentityId\" : null,\n      \"networkConfigMetadataId\" : null,\n      \"id\" : \"726e9584-e653-4cc6-befb-d486afe70798\",\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/networks/726e9584-e653-4cc6-befb-d486afe70798\"\n        },\n        \"organization\" : {\n          \"href\" : \"http://localhost/organizations/31b80925-3a0d-40b2-81c2-e26b78335bdf\"\n        },\n        \"networkControllerHosts\" : {\n          \"href\" : \"http://localhost/networks/726e9584-e653-4cc6-befb-d486afe70798/networkControllerHosts\"\n        },\n        \"endpoints\" : {\n          \"href\" : \"http://localhost/networks/726e9584-e653-4cc6-befb-d486afe70798/endpoints\"\n        },\n        \"endpointGroups\" : {\n          \"href\" : \"http://localhost/networks/726e9584-e653-4cc6-befb-d486afe70798/endpointGroups\"\n        },\n        \"services\" : {\n          \"href\" : \"http://localhost/networks/726e9584-e653-4cc6-befb-d486afe70798/services\"\n        },\n        \"appWans\" : {\n          \"href\" : \"http://localhost/networks/726e9584-e653-4cc6-befb-d486afe70798/appWans\"\n        },\n        \"gatewayClusters\" : {\n          \"href\" : \"http://localhost/networks/726e9584-e653-4cc6-befb-d486afe70798/gatewayClusters\"\n        },\n        \"virtualWanSites\" : {\n          \"href\" : \"http://localhost/networks/726e9584-e653-4cc6-befb-d486afe70798/virtualWanSites\"\n        },\n        \"networkConfigMetadata\" : {\n          \"href\" : \"http://localhost/networks/726e9584-e653-4cc6-befb-d486afe70798/networkConfigMetadata\"\n        }\n      }\n    } ]\n  },\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/networks?page=0,size=10,sort=name,asc\"\n    }\n  },\n  \"page\" : {\n    \"size\" : 10,\n    \"totalElements\" : 2,\n    \"totalPages\" : 1,\n    \"number\" : 1\n  }\n}"
                                    },
                                    "get-all-networks": {
                                        "value": "{\n  \"_embedded\" : {\n    \"networks\" : [ {\n      \"createdAt\" : \"2020-06-08T08:16:48.646+0000\",\n      \"updatedAt\" : \"2020-06-08T18:16:48.646+0000\",\n      \"name\" : \"Test Network 01\",\n      \"caName\" : \"CA_a887db20-2200-4a13-8d1f-0402417d0a42\",\n      \"productFamily\" : \"DVN\",\n      \"productVersion\" : \"3.6.6.11042\",\n      \"provisionedAt\" : null,\n      \"o365BreakoutCategory\" : \"NONE\",\n      \"mfaClientId\" : null,\n      \"mfaIssuerId\" : null,\n      \"status\" : 100,\n      \"organizationId\" : \"09a7d7f7-4761-4e92-8bb5-d56a281dff0e\",\n      \"ownerIdentityId\" : null,\n      \"networkConfigMetadataId\" : null,\n      \"id\" : \"4c79e52a-7dd5-4d3f-b23d-46da11acbde0\",\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/networks/4c79e52a-7dd5-4d3f-b23d-46da11acbde0\"\n        },\n        \"organization\" : {\n          \"href\" : \"http://localhost/organizations/09a7d7f7-4761-4e92-8bb5-d56a281dff0e\"\n        },\n        \"networkControllerHosts\" : {\n          \"href\" : \"http://localhost/networks/4c79e52a-7dd5-4d3f-b23d-46da11acbde0/networkControllerHosts\"\n        },\n        \"endpoints\" : {\n          \"href\" : \"http://localhost/networks/4c79e52a-7dd5-4d3f-b23d-46da11acbde0/endpoints\"\n        },\n        \"endpointGroups\" : {\n          \"href\" : \"http://localhost/networks/4c79e52a-7dd5-4d3f-b23d-46da11acbde0/endpointGroups\"\n        },\n        \"services\" : {\n          \"href\" : \"http://localhost/networks/4c79e52a-7dd5-4d3f-b23d-46da11acbde0/services\"\n        },\n        \"appWans\" : {\n          \"href\" : \"http://localhost/networks/4c79e52a-7dd5-4d3f-b23d-46da11acbde0/appWans\"\n        },\n        \"gatewayClusters\" : {\n          \"href\" : \"http://localhost/networks/4c79e52a-7dd5-4d3f-b23d-46da11acbde0/gatewayClusters\"\n        },\n        \"virtualWanSites\" : {\n          \"href\" : \"http://localhost/networks/4c79e52a-7dd5-4d3f-b23d-46da11acbde0/virtualWanSites\"\n        },\n        \"networkConfigMetadata\" : {\n          \"href\" : \"http://localhost/networks/4c79e52a-7dd5-4d3f-b23d-46da11acbde0/networkConfigMetadata\"\n        }\n      }\n    }, {\n      \"createdAt\" : \"2020-06-08T08:16:48.647+0000\",\n      \"updatedAt\" : \"2020-06-08T18:16:48.647+0000\",\n      \"name\" : \"Test Network 02\",\n      \"caName\" : \"CA_4d85a808-3edb-48bd-8246-1056d2fa10a1\",\n      \"productFamily\" : \"DVN\",\n      \"productVersion\" : \"3.6.6.11042\",\n      \"provisionedAt\" : null,\n      \"o365BreakoutCategory\" : \"NONE\",\n      \"mfaClientId\" : null,\n      \"mfaIssuerId\" : null,\n      \"status\" : 100,\n      \"organizationId\" : \"09a7d7f7-4761-4e92-8bb5-d56a281dff0e\",\n      \"ownerIdentityId\" : null,\n      \"networkConfigMetadataId\" : null,\n      \"id\" : \"df8e5d93-b3d0-406d-908f-b08728b38408\",\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/networks/df8e5d93-b3d0-406d-908f-b08728b38408\"\n        },\n        \"organization\" : {\n          \"href\" : \"http://localhost/organizations/09a7d7f7-4761-4e92-8bb5-d56a281dff0e\"\n        },\n        \"networkControllerHosts\" : {\n          \"href\" : \"http://localhost/networks/df8e5d93-b3d0-406d-908f-b08728b38408/networkControllerHosts\"\n        },\n        \"endpoints\" : {\n          \"href\" : \"http://localhost/networks/df8e5d93-b3d0-406d-908f-b08728b38408/endpoints\"\n        },\n        \"endpointGroups\" : {\n          \"href\" : \"http://localhost/networks/df8e5d93-b3d0-406d-908f-b08728b38408/endpointGroups\"\n        },\n        \"services\" : {\n          \"href\" : \"http://localhost/networks/df8e5d93-b3d0-406d-908f-b08728b38408/services\"\n        },\n        \"appWans\" : {\n          \"href\" : \"http://localhost/networks/df8e5d93-b3d0-406d-908f-b08728b38408/appWans\"\n        },\n        \"gatewayClusters\" : {\n          \"href\" : \"http://localhost/networks/df8e5d93-b3d0-406d-908f-b08728b38408/gatewayClusters\"\n        },\n        \"virtualWanSites\" : {\n          \"href\" : \"http://localhost/networks/df8e5d93-b3d0-406d-908f-b08728b38408/virtualWanSites\"\n        },\n        \"networkConfigMetadata\" : {\n          \"href\" : \"http://localhost/networks/df8e5d93-b3d0-406d-908f-b08728b38408/networkConfigMetadata\"\n        }\n      }\n    } ]\n  },\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/networks\"\n    }\n  },\n  \"page\" : {\n    \"size\" : 10,\n    \"totalElements\" : 2,\n    \"totalPages\" : 1,\n    \"number\" : 1\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "networks"
                ],
                "summary": "create a network",
                "description": "Create a network. The only required parameter is `name`, and other params are not typically beneficial.",
                "operationId": "create-network",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/networks-897639585"
                            },
                            "examples": {
                                "create-network": {
                                    "value": "{\n  \"name\" : \"Test Network 01\",\n  \"productFamily\" : \"DVN\",\n  \"productVersion\" : \"3.6.6.11042\",\n  \"networkConfigName\" : \"medium\",\n  \"locationCode\" : null,\n  \"o365BreakoutCategory\" : \"NONE\",\n  \"subscriptionId\" : null\n}"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "202",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/networks-582637379"
                                },
                                "examples": {
                                    "create-network": {
                                        "value": "{\n  \"createdAt\" : \"2020-06-08T08:16:48.517+0000\",\n  \"updatedAt\" : \"2020-06-08T18:16:48.517+0000\",\n  \"name\" : \"Test Network 01\",\n  \"caName\" : \"CA_a1e27e2b-869b-4aa4-8278-0b34fee9c578\",\n  \"productFamily\" : \"DVN\",\n  \"productVersion\" : \"3.6.6.11042\",\n  \"provisionedAt\" : null,\n  \"o365BreakoutCategory\" : \"NONE\",\n  \"mfaClientId\" : null,\n  \"mfaIssuerId\" : null,\n  \"status\" : 100,\n  \"organizationId\" : \"0d0eb2c1-7673-48ea-8124-140e63890873\",\n  \"ownerIdentityId\" : null,\n  \"networkConfigMetadataId\" : null,\n  \"id\" : \"2e36a459-8439-44df-9d17-99caee633c72\",\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/networks/2e36a459-8439-44df-9d17-99caee633c72\"\n    },\n    \"organization\" : {\n      \"href\" : \"http://localhost/organizations/0d0eb2c1-7673-48ea-8124-140e63890873\"\n    },\n    \"networkControllerHosts\" : {\n      \"href\" : \"http://localhost/networks/2e36a459-8439-44df-9d17-99caee633c72/networkControllerHosts\"\n    },\n    \"endpoints\" : {\n      \"href\" : \"http://localhost/networks/2e36a459-8439-44df-9d17-99caee633c72/endpoints\"\n    },\n    \"endpointGroups\" : {\n      \"href\" : \"http://localhost/networks/2e36a459-8439-44df-9d17-99caee633c72/endpointGroups\"\n    },\n    \"services\" : {\n      \"href\" : \"http://localhost/networks/2e36a459-8439-44df-9d17-99caee633c72/services\"\n    },\n    \"appWans\" : {\n      \"href\" : \"http://localhost/networks/2e36a459-8439-44df-9d17-99caee633c72/appWans\"\n    },\n    \"gatewayClusters\" : {\n      \"href\" : \"http://localhost/networks/2e36a459-8439-44df-9d17-99caee633c72/gatewayClusters\"\n    },\n    \"virtualWanSites\" : {\n      \"href\" : \"http://localhost/networks/2e36a459-8439-44df-9d17-99caee633c72/virtualWanSites\"\n    },\n    \"networkConfigMetadata\" : {\n      \"href\" : \"http://localhost/networks/2e36a459-8439-44df-9d17-99caee633c72/networkConfigMetadata\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/networks/{networkId}": {
            "get": {
                "tags": [
                    "networks"
                ],
                "summary": "fetch a network",
                "description": "Fetch the attributes of a network by ID",
                "operationId": "get-network",
                "parameters": [
                    {
                        "name": "networkId",
                        "in": "path",
                        "description": "the id of the network",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/networks-networkId-1626269863"
                                },
                                "examples": {
                                    "get-network": {
                                        "value": "{\n  \"createdAt\" : \"2020-06-08T08:16:48.334+0000\",\n  \"updatedAt\" : \"2020-06-08T18:16:48.334+0000\",\n  \"name\" : \"Test Network 01\",\n  \"caName\" : \"CA_b54cc916-11d7-4b68-9cb6-ae1ec8f4b23c\",\n  \"productFamily\" : \"DVN\",\n  \"productVersion\" : \"3.6.6.11042\",\n  \"provisionedAt\" : null,\n  \"o365BreakoutCategory\" : \"NONE\",\n  \"mfaClientId\" : null,\n  \"mfaIssuerId\" : null,\n  \"status\" : 100,\n  \"organizationId\" : \"b49fe088-166f-4698-8fc1-76bdaf76516f\",\n  \"ownerIdentityId\" : null,\n  \"networkConfigMetadataId\" : null,\n  \"id\" : \"67249ad8-07a0-40e8-8ac8-e698fe23e754\",\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/networks/67249ad8-07a0-40e8-8ac8-e698fe23e754\"\n    },\n    \"organization\" : {\n      \"href\" : \"http://localhost/organizations/b49fe088-166f-4698-8fc1-76bdaf76516f\"\n    },\n    \"networkControllerHosts\" : {\n      \"href\" : \"http://localhost/networks/67249ad8-07a0-40e8-8ac8-e698fe23e754/networkControllerHosts\"\n    },\n    \"endpoints\" : {\n      \"href\" : \"http://localhost/networks/67249ad8-07a0-40e8-8ac8-e698fe23e754/endpoints\"\n    },\n    \"endpointGroups\" : {\n      \"href\" : \"http://localhost/networks/67249ad8-07a0-40e8-8ac8-e698fe23e754/endpointGroups\"\n    },\n    \"services\" : {\n      \"href\" : \"http://localhost/networks/67249ad8-07a0-40e8-8ac8-e698fe23e754/services\"\n    },\n    \"appWans\" : {\n      \"href\" : \"http://localhost/networks/67249ad8-07a0-40e8-8ac8-e698fe23e754/appWans\"\n    },\n    \"gatewayClusters\" : {\n      \"href\" : \"http://localhost/networks/67249ad8-07a0-40e8-8ac8-e698fe23e754/gatewayClusters\"\n    },\n    \"virtualWanSites\" : {\n      \"href\" : \"http://localhost/networks/67249ad8-07a0-40e8-8ac8-e698fe23e754/virtualWanSites\"\n    },\n    \"networkConfigMetadata\" : {\n      \"href\" : \"http://localhost/networks/67249ad8-07a0-40e8-8ac8-e698fe23e754/networkConfigMetadata\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "networks"
                ],
                "summary": "redefine a network",
                "description": "Redefine an existing network by resending all attributes.",
                "operationId": "update-network",
                "parameters": [
                    {
                        "name": "networkId",
                        "in": "path",
                        "description": "the id of the network",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/networks-networkId-54152969"
                            },
                            "examples": {
                                "update-network": {
                                    "value": "{\n  \"name\" : \"Test Network 01 Updated\",\n  \"o365BreakoutCategory\" : \"NONE\",\n  \"mfaClientId\" : \"1234\",\n  \"mfaIssuerId\" : \"https://okta\"\n}"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/networks-networkId-1500717383"
                                },
                                "examples": {
                                    "update-network": {
                                        "value": "{\n  \"createdAt\" : \"2020-06-08T08:16:48.598+0000\",\n  \"updatedAt\" : \"2020-06-08T18:16:48.598+0000\",\n  \"name\" : \"Test Network 01 Updated\",\n  \"caName\" : \"CA_2487e389-8004-47f5-a418-bbbb34fda020\",\n  \"productFamily\" : \"DVN\",\n  \"productVersion\" : \"3.6.6.11042\",\n  \"provisionedAt\" : null,\n  \"o365BreakoutCategory\" : \"NONE\",\n  \"mfaClientId\" : null,\n  \"mfaIssuerId\" : null,\n  \"status\" : 100,\n  \"organizationId\" : \"ff1b567f-5443-4c04-9713-9f742a04c1d7\",\n  \"ownerIdentityId\" : null,\n  \"networkConfigMetadataId\" : null,\n  \"id\" : \"e01056b6-c952-4d9d-8492-ed594a1ccb57\",\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"http://localhost/networks/e01056b6-c952-4d9d-8492-ed594a1ccb57\"\n    },\n    \"organization\" : {\n      \"href\" : \"http://localhost/organizations/ff1b567f-5443-4c04-9713-9f742a04c1d7\"\n    },\n    \"networkControllerHosts\" : {\n      \"href\" : \"http://localhost/networks/e01056b6-c952-4d9d-8492-ed594a1ccb57/networkControllerHosts\"\n    },\n    \"endpoints\" : {\n      \"href\" : \"http://localhost/networks/e01056b6-c952-4d9d-8492-ed594a1ccb57/endpoints\"\n    },\n    \"endpointGroups\" : {\n      \"href\" : \"http://localhost/networks/e01056b6-c952-4d9d-8492-ed594a1ccb57/endpointGroups\"\n    },\n    \"services\" : {\n      \"href\" : \"http://localhost/networks/e01056b6-c952-4d9d-8492-ed594a1ccb57/services\"\n    },\n    \"appWans\" : {\n      \"href\" : \"http://localhost/networks/e01056b6-c952-4d9d-8492-ed594a1ccb57/appWans\"\n    },\n    \"gatewayClusters\" : {\n      \"href\" : \"http://localhost/networks/e01056b6-c952-4d9d-8492-ed594a1ccb57/gatewayClusters\"\n    },\n    \"virtualWanSites\" : {\n      \"href\" : \"http://localhost/networks/e01056b6-c952-4d9d-8492-ed594a1ccb57/virtualWanSites\"\n    },\n    \"networkConfigMetadata\" : {\n      \"href\" : \"http://localhost/networks/e01056b6-c952-4d9d-8492-ed594a1ccb57/networkConfigMetadata\"\n    }\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "networks"
                ],
                "summary": "destroy a network",
                "description": "Permanently destroy all resources associated with a network.",
                "operationId": "delete-network",
                "parameters": [
                    {
                        "name": "networkId",
                        "in": "path",
                        "description": "the id of the network",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "202"
                    }
                }
            }
        },
        "/networks/{networkId}/appWan-processes": {
            "get": {
                "tags": [
                    "networks"
                ],
                "summary": "list keys of AppWAN processes",
                "description": "Monitor the progress of an AppWAN modification by listing business keys and then inspecting them with get-processes-for-appwan.",
                "operationId": "find-appwan-processes",
                "parameters": [
                    {
                        "name": "networkId",
                        "in": "path",
                        "description": "the id of the network",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/networks-networkId-appWan-processes766456683"
                                },
                                "examples": {
                                    "find-appwan-processes": {
                                        "value": "[ {\n  \"businessKey\" : \"aa912c84-b5cc-4800-902a-712179250d83\",\n  \"processDefinitionKey\" : \"createAppwan\",\n  \"workFlowStatus\" : [ {\n    \"task\" : \"Started\",\n    \"status\" : \"InProgress\"\n  } ]\n} ]"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/networks/{networkId}/appWans": {
            "get": {
                "tags": [
                    "networks"
                ],
                "summary": "list AppWANs for network",
                "description": "Returns a list of AppWANs for a network.\n\nPagination params:\n * page: page number\n * size: number of list elements per page\n * sort: comma-separated list of sort field (an attribute of the AppWANs) and direction (\"ASC\" or \"DESC\")\n\nProduces a top-level map `.page` in the response like\n```\n\"page\": {\n    \"number\": 1,\n    \"size\": 1,\n    \"totalElements\": 1,\n    \"totalPages\": 1\n}\n```\n",
                "operationId": "get-all-app-wans-for-network-paged",
                "parameters": [
                    {
                        "name": "networkId",
                        "in": "path",
                        "description": "the id of the network",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/networks-networkId-appWans175155576"
                                },
                                "examples": {
                                    "get-all-app-wans-for-network-paged": {
                                        "value": "{\n  \"_embedded\" : {\n    \"appWans\" : [ {\n      \"createdAt\" : \"2020-06-08T08:17:01.145+0000\",\n      \"updatedAt\" : \"2020-06-08T18:17:01.145+0000\",\n      \"name\" : \"AppWan 01\",\n      \"networkId\" : null,\n      \"status\" : 300,\n      \"ownerIdentityId\" : null,\n      \"id\" : \"2c6b384e-ad2f-402f-b25e-817f70dc1fa4\",\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/networks/bf10fd03-9475-4c6c-89de-73887f64206d/appWans/2c6b384e-ad2f-402f-b25e-817f70dc1fa4\"\n        },\n        \"network\" : {\n          \"href\" : \"http://localhost/networks/bf10fd03-9475-4c6c-89de-73887f64206d\"\n        },\n        \"endpointGroups\" : {\n          \"href\" : \"http://localhost/networks/bf10fd03-9475-4c6c-89de-73887f64206d/appWans/2c6b384e-ad2f-402f-b25e-817f70dc1fa4/endpointGroups\"\n        },\n        \"endpoints\" : {\n          \"href\" : \"http://localhost/networks/bf10fd03-9475-4c6c-89de-73887f64206d/appWans/2c6b384e-ad2f-402f-b25e-817f70dc1fa4/endpoints\"\n        },\n        \"services\" : {\n          \"href\" : \"http://localhost/networks/bf10fd03-9475-4c6c-89de-73887f64206d/appWans/2c6b384e-ad2f-402f-b25e-817f70dc1fa4/services\"\n        }\n      }\n    }, {\n      \"createdAt\" : \"2020-06-08T08:17:01.145+0000\",\n      \"updatedAt\" : \"2020-06-08T18:17:01.145+0000\",\n      \"name\" : \"AppWan 02\",\n      \"networkId\" : null,\n      \"status\" : 300,\n      \"ownerIdentityId\" : null,\n      \"id\" : \"ba207a9d-d9ad-45b7-b23a-a80aef4a29c6\",\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/networks/bf10fd03-9475-4c6c-89de-73887f64206d/appWans/ba207a9d-d9ad-45b7-b23a-a80aef4a29c6\"\n        },\n        \"network\" : {\n          \"href\" : \"http://localhost/networks/bf10fd03-9475-4c6c-89de-73887f64206d\"\n        },\n        \"endpointGroups\" : {\n          \"href\" : \"http://localhost/networks/bf10fd03-9475-4c6c-89de-73887f64206d/appWans/ba207a9d-d9ad-45b7-b23a-a80aef4a29c6/endpointGroups\"\n        },\n        \"endpoints\" : {\n          \"href\" : \"http://localhost/networks/bf10fd03-9475-4c6c-89de-73887f64206d/appWans/ba207a9d-d9ad-45b7-b23a-a80aef4a29c6/endpoints\"\n        },\n        \"services\" : {\n          \"href\" : \"http://localhost/networks/bf10fd03-9475-4c6c-89de-73887f64206d/appWans/ba207a9d-d9ad-45b7-b23a-a80aef4a29c6/services\"\n        }\n      }\n    } ]\n  },\n  \"_links\" : {\n    \"first\" : {\n      \"href\" : \"http://localhost/networks/bf10fd03-9475-4c6c-89de-73887f64206d/appWans?page=0,size=10,sort=name,asc\"\n    }\n  },\n  \"page\" : {\n    \"size\" : 10,\n    \"totalElements\" : 2,\n    \"totalPages\" : 1,\n    \"number\" : 1\n  }\n}"
                                    },
                                    "get-all-app-wans-for-network": {
                                        "value": "{\n  \"_embedded\" : {\n    \"appWans\" : [ {\n      \"createdAt\" : \"2020-06-08T08:17:01.367+0000\",\n      \"updatedAt\" : \"2020-06-08T18:17:01.367+0000\",\n      \"name\" : \"AppWan 01\",\n      \"networkId\" : null,\n      \"status\" : 300,\n      \"ownerIdentityId\" : null,\n      \"id\" : \"e54f1816-7191-41dd-b755-6021fd4c0353\",\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/networks/87c01472-78e2-4f0d-9ffa-5ceed2d2c386/appWans/e54f1816-7191-41dd-b755-6021fd4c0353\"\n        },\n        \"network\" : {\n          \"href\" : \"http://localhost/networks/87c01472-78e2-4f0d-9ffa-5ceed2d2c386\"\n        },\n        \"endpointGroups\" : {\n          \"href\" : \"http://localhost/networks/87c01472-78e2-4f0d-9ffa-5ceed2d2c386/appWans/e54f1816-7191-41dd-b755-6021fd4c0353/endpointGroups\"\n        },\n        \"endpoints\" : {\n          \"href\" : \"http://localhost/networks/87c01472-78e2-4f0d-9ffa-5ceed2d2c386/appWans/e54f1816-7191-41dd-b755-6021fd4c0353/endpoints\"\n        },\n        \"services\" : {\n          \"href\" : \"http://localhost/networks/87c01472-78e2-4f0d-9ffa-5ceed2d2c386/appWans/e54f1816-7191-41dd-b755-6021fd4c0353/services\"\n        }\n      }\n    }, {\n      \"createdAt\" : \"2020-06-08T08:17:01.367+0000\",\n      \"updatedAt\" : \"2020-06-08T18:17:01.367+0000\",\n      \"name\" : \"AppWan 02\",\n      \"networkId\" : null,\n      \"status\" : 300,\n      \"ownerIdentityId\" : null,\n      \"id\" : \"1931899c-e6ea-488f-84b7-c845e0391fbc\",\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"http://localhost/networks/87c01472-78e2-4f0d-9ffa-5ceed2d2c386/appWans/1931899c-e6ea-488f-84b7-c845e0391fbc\"\n        },\n        \"network\" : {\n          \"href\" : \"http://localhost/networks/87c01472-78e2-4f0d-9ffa-5ceed2d2c386\"\n        },\n        \"endpointGroups\" : {\n          \"href\" : \"http://localhost/networks/87c01472-78e2-4f0d-9ffa-5ceed2d2c386/appWans/1931899c-e6ea-488f-84b7-c845e0391fbc/endpointGroups\"\n        },\n        \"endpoints\" : {\n          \"href\" : \"http://localhost/networks/87c01472-78e2-4f0d-9ffa-5ceed2d2c386/appWans/1931899c-e6ea-488f-84b7-c845e0391fbc/endpoints\"\n        },\n        \"services\" : {\n          \"href\" : \"http://localhost/networks/87c01472-78e2-4f0d-9ffa-5ceed2d2c386/appWans/1931899c-e6ea-488f-84b7-c845e0391fbc/services\"\n        }\n      }\n    } ]\n  },\n  \"_links\" : {\n    \"first\" : {\n      \"href\" : \"http://localhost/networks/87c01472-78e2-4f0d-9ffa-5ceed2d2c386/appWans?page=0,size=10,sort=name,asc\"\n    }\n  },\n  \"page\" : {\n    \"size\" : 10,\n    \"totalElements\" : 2,\n    \"totalPages\" : 1,\n    \"number\" : 1\n  }\n}"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "networks"
                ],
                "summary": "Initialize an empty AppWAN",
                "description": "Initialize an empty AppWAN for authorizations that will be added later.",
                "operationId": "create-app-wan",
                "parameters": [
                    {
                        "name": "networkId",
                        "in": "path",
                        "description": "the id of the network",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/networks-networkId-appWans751732740"
                            },
                            "examples": {
                                "create-app-wan": {
[...]
